{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
<style>
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
    .mybtn{
        margin-right: 30px;
        float: left;
    }
    #imgPicker>div:nth-child(2){
        width: 100% !important;
        height: 100% !important;
    }
    #mytable1_wrapper th,#mytable1_wrapper td{
        text-align: center;
    }
    #myModal input,#myModal select,#myModal textarea{
        background-color: transparent;
    }
    #operate{
        font-size: 0;
        border: 1px solid #ccc;
    }
    #operate i {
        display: inline-block;
        width: 25%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #000;
        cursor: pointer;
    }
    #mytable1_wrapper{
        display: none;
    }
    .webuploader-pick{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .webuploader-pick:hover{
        background-color: transparent;
    }
    #btn_upload{
        display: none;
    }
    #file_upload>div:nth-child(2){
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
</style>
<body class="gray-bg" style="background-color:#fff;">
<div id="mycontent" style="width: 20%;height: 98%;display: inline-block;margin: 0 10px;background-color:#fff;overflow-x: scroll;padding-top: 20px;padding-right:10px;border-right: 1px solid #ccc;">
    <div style="text-align: center;background-color:#1ab394;line-height: 30px;color: #fff;">工程划分</div>
    <div id="file_per"></div>
    <div id="file_list"></div>
    <!--<button id="btn_upload" class="btn">确认导入</button>-->
    <div id="operate">
        <i class="iconfont icon-tianjiajiahaowubiankuang"></i>
        <i class="iconfont icon-bianji"></i>
        <i class="iconfont icon-shanchu"></i>
        <i class="iconfont icon-daoru" id="file_upload"></i>
    </div>
    <div id="tree_container" class="ztree"></div>
    <p style="display: none;"></p>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 78%;vertical-align: top;padding: 0;margin-top: 20px;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div id="path">当前路径:</div>
                <div id="mytable1_wrapper">
                    <table id="admin_table" width="100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>单元工程名称</th>
                                <th>单元工程编号</th>
                                <th>桩号(起)</th>
                                <th>桩号(止)</th>
                                <th>高程(起)</th>
                                <th>高程(止)</th>
                                <th>主要单元工程</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增</h5>
                </div>
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="projectAdd" id="projectAdd" method="post" action="{:url('projectAdd')}">
                        <input type="text" name="pid" id="pid"  value=""  style="display: none;">
                        <input type="text" name="id" id="id"  value=""  style="display: none;">
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单元工程名称：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="project_name" type="text" class="form-control" name="name" required="required" placeholder="此处为必填项">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单元工程编号：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="new1" readonly="readonly" type="text" required="required" placeholder="此处为必填项" class="form-control" name="sn" style="width: 50%;">
                                    <input id="new2" type="text" required="required" placeholder="此处为必填项" class="form-control" name="post_sn" style="width: 48%;margin-left: 2%;">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">主要单元工程：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="primary" id="main_project" class="form-control" >
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">质量账台类型：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="cate" id="kind" class="form-control" >
                                        <option value="开挖">开挖</option>
                                        <option value="支护">支护</option>
                                        <option value="混凝土">混凝土</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">开工日期：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="kaigong_date" type="text" class="form-control" required="required" placeholder="此处为必填项" name="kaigong_date" placeholder="请选择日期"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">完工日期：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input type="text" id="wangong_date" class="form-control datepicker" required="required" placeholder="此处为必填项" name="wangong_date" placeholder="请选择日期" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">桩号(起)：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="zhuanghaoqi" type="text" class="form-control" name="zhuanghaoqi" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">桩号(止)：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input type="text" id="zhuanghaozhi" class="form-control datepicker" name="zhuanghaozhi" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">高程(起)：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="gaochengqi" type="text" class="form-control" name="gaochengqi" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">高程(止)：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input type="text" id="gaochengzhi" class="form-control datepicker" name="gaochengzhi" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="level2" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="level2Add" id="level2Add" method="post" action="{:url('nodeAdd')}">
                        <input type="text" name="pid" value="" id="pid2" style="display: none;">
                        <input type="text" name="id" value="" id="id2" style="display: none;">
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单位工程名称：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="project_name2" type="text" class="form-control" name="name" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单位工程编号：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="project_sn2" type="text" class="form-control" name="sn" >
                                    <input type="text" class="form-control" name="post_sn" style="display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">主要单元工程：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <select name="primary" id="main_project2" class="form-control" >
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="level3" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="level3Add" id="level3Add" method="post" action="{:url('nodeAdd')}">
                        <input type="text" name="pid" value="" id="pid3" style="display: none;">
                        <input type="text" name="id" value="" id="id3" style="display: none;">
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">分部工程名称：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="project_name3" type="text" class="form-control" name="name" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">分部工程编号：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="new3" readonly="readonly" type="text" class="form-control" name="sn" style="width: 50%;">
                                    <input id="new4" type="text" class="form-control" name="post_sn" style="width: 48%;margin-left: 2%;">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">主要分部工程：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <select name="primary" id="main_project3" class="form-control" >
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="level4" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="level4Add" id="level4Add" method="post" action="{:url('nodeAdd')}">
                        <input type="text" name="pid" value="" id="pid4" style="display: none;">
                        <input type="text" name="id" value="" id="id4" style="display: none;">
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单元工程名称：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="project_name4" type="text" class="form-control" name="name" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-3 control-label">单元工程编号：</label>
                                <div class="myblock col-xs-8 input-group">
                                    <input id="new5" readonly="readonly" type="text" class="form-control" name="sn" style="width: 50%;">
                                    <input id="new6" type="text" class="form-control" name="post_sn" style="width: 48%;margin-left: 2%;">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">主要单元工程：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="primary" id="main_project4" class="form-control" >
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">质量账台类型：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="cate" id="kind4" class="form-control" >
                                        <option value="开挖">开挖</option>
                                        <option value="支护">支护</option>
                                        <option value="锚索">锚索</option>
                                        <option value="排水孔">排水孔</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>

<script type="text/javascript">

    $("#kaigong_date").jeDate({
        format: "YYYY-MM-DD"
    });
    $("#wangong_date").jeDate({
        format: "YYYY-MM-DD"
    });
    $("#pingding_date").jeDate({
        format: "YYYY-MM-DD"
    });
    var mytree_node;

    var admin_table = $('#admin_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "__SCRIPT__/project_table.php"
        },
        "dom": '<"mybtn btn btn-outline btn-primary"><"myl"l>frtip',
        "columnDefs": [
            {
                "searchable": false,
                "orderable": false,
                "targets": [8],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='查看'/>";
                    html += "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            }
        ],
        "language": {
            "lengthMenu": "每页_MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        }
    } );
$("div.mybtn").html('<div>新增</div>');
$("div.mybtn").click(function () {
        if(mytree_node.level == 3){
            $("#myModal input").val("");
            $("#myModal h5").text("新增单元工程");
            $("#myModal .btn-primary").css("display","inline-block");
            var id = mytree_node.id;
            $("#pid").val(id);
            $.ajax({
                url: "nodeEdit",
                type: "post",
                data: {id:id},
                dataType: "json",
                success: function (res) {
                    if(res.msg == "success"){
                        $("#new1").val(res.data.sn + "-");
                    }
                }
            });
            $("#myModal").modal('show');
        }
})
//编辑
function edit(that) {
    var uid = $(that).parent("td").parent("tr").children("td:first-child").text();
    var kind = $(that).val();
    if(kind == "查看"){
        $("#myModal .btn-primary").css("display","none");
    }else if(kind == "编辑"){
        $("#myModal .btn-primary").css("display","inline-block");
    }
    $("#myModal h5").text("编辑单元工程");
    $("#id").val(uid);
    $("#pid").val(mytree_node.id);
    $.ajax({
        url: "./projectEdit",
        type: "post",
        data: {id:uid},
        dataType: "json",
        success: function (res) {
            console.log(res);
            if(res.msg == "success"){
                var data = res.data;
                $("#project_name").val(data.name);
                $("#new1").val(data.sn);
                $("#new2").val(data.post_sn);
                $("#main_project").val(data.primary);
                $("#kind").val(data.cate);
                $("#kaigong_date").val(data.kaigong_date);
                $("#wangong_date").val(data.wangong_date);
                $("#quantities").val(data.quantities);
                $("#pingding_date").val(data.pingding_date);
                $("#zhuanghaoqi").val(data.zhuanghaoqi);
                $("#zhuanghaozhi").val(data.zhuanghaozhi);
                $("#gaochengqi").val(data.gaochengqi);
                $("#gaochengzhi").val(data.gaochengzhi);
                $("#myModal").modal('show');
            }else {
                layer.msg(res.msg);
            }
        }
    })
}

//删除
    function myconfirm(id,url) {
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: url,
                async: false,
                data: {'id' : id},
                type: "get",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        admin_table.ajax.url("__SCRIPT__/project_table.php?pid=" + groupid).load();
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }
    function del(that) {
        var uid = $(that).parent("td").parent("tr").children("td:first-child").text();
        myconfirm(uid,'{:url("projectDel")}');
    }
//组织结构
    var zTreeObj;

//树结构添加节点
   $("#operate>i:first-child").click(function () {
       if(mytree_node){
           if(mytree_node.level == 0){
               $("#level2 input").val("");
               $("#pid2").val(mytree_node.id);
               $("#level2 h5").text('添加');
               $("#level2").modal('show');
           }else if(mytree_node.level == 1){
               $("#level3 input").val("");
               $("#pid3").val(mytree_node.id);
               var id = mytree_node.id;
               $.ajax({
                   url: "nodeEdit",
                   type: "post",
                   data: {id:id},
                   dataType: "json",
                   success: function (res) {
                       console.log(res);
                       if(res.msg == "success"){
                           if(res.data.post_sn){
                               $("#new3").val(res.data.sn + "-" + res.data.post_sn + "-");
                           }else {
                               $("#new3").val(res.data.sn + "-");
                           }
                       }
                   }
               });
               $("#level3 h5").text('添加');
               $("#level3").modal('show');
           }else if(mytree_node.level == 2){
               $("#level4 input").val("");
               $("#pid4").val(mytree_node.id);
               var id = mytree_node.id;
               $.ajax({
                   url: "nodeEdit",
                   type: "post",
                   data: {id:id},
                   dataType: "json",
                   success: function (res) {
                       console.log(res);
                       if(res.msg == "success"){
                           if(res.data.post_sn){
                               $("#new5").val(res.data.sn + "-" + res.data.post_sn + "-");
                           }else {
                               $("#new5").val(res.data.sn + "-");
                           }
                       }
                   }
               });
               $("#level4 h5").text('添加');
               $("#level4").modal('show');
           }
       }else {
           layer.msg("请选择节点",{time:1500,shade: 0.1});
       }
   })
//树结构编辑节点
    $("#operate i:nth-child(2)").click(function () {
        if(mytree_node){
            var id = mytree_node.id;
            $.ajax({
                url: "nodeEdit",
                type: "post",
                data: {id:id},
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if(res.msg == "success"){
                        var data = res.data;
                        console.log(mytree_node.id);
                        if(mytree_node.level == 1){
                            $("#level2 input").val("");
                            $("#pid2").val(mytree_node.pId);
                            $("#id2").val(mytree_node.id);
                            $("#project_name2").val(data.name);
                            if(data.post_sn){
                                $("#project_sn2").val(data.sn + "-" + data.post_sn + "-");
                            }else {
                                $("#project_sn2").val(data.sn + "-");
                            }
                            $("#main_project2").val(data.primary);
                            $("#level2 h5").text('编辑');
                            $("#level2").modal('show');
                        }else if(mytree_node.level == 2){
                            $("#level3 input").val("");
                            $("#pid3").val(mytree_node.pId);
                            $("#id3").val(mytree_node.id);
                            if(data.sn.substr(-1,1) == "-"){
                                $("#new3").val(data.sn);
                            }else {
                                $("#new3").val(data.sn + "-");
                            }
                            if(data.post_sn){
                                $("#new4").val(data.sn + "-" + data.post_sn + "-");
                            }else {
                                $("#new4").val(data.sn + "-");
                            }
                            $("#new4").val(data.post_sn);
                            $("#project_name3").val(data.name);
                            $("#main_project3").val(data.primary);
                            $("#level3 h5").text('编辑');
                            $("#level3").modal('show');
                        }else if(mytree_node.level == 3){
                            $("#level2 input").val("");
                            $("#pid4").val(mytree_node.pId);
                            $("#id4").val(mytree_node.id);
                            if(data.sn.substr(-1,1) == "-"){
                                $("#new5").val(data.sn);
                            }else {
                                $("#new5").val(data.sn + "-");
                            }
                            $("#new6").val(data.post_sn);
                            $("#project_name4").val(data.name);
                            $("#main_project4").val(data.primary);
                            $("#level4 h5").text('编辑');
                            $("#level4").modal('show');
                        }
                    }
                }
            })
        }else {
            layer.msg("请选择节点",{time:1500,shade: 0.1});
        }
    })
//树结构删除节点
    $("#operate>i:nth-child(3)").click(function () {
        if(mytree_node){
            layer.confirm("警告！删除"+ mytree_node.name +"节点将会删除它的所有子节点以及节点包含的单元工程！确认删除?", {icon: 3, title:'提示'}, function(index){
                var id = mytree_node.id;
                $.ajax({
                    url: "nodeDel",
                    type: "post",
                    data: {id:id},
                    dataType: "json",
                    success: function (res) {
                        if(mytree_node.level === 3){
                            admin_table.ajax.url("__SCRIPT__/project_table.php").load();
                        }
                        mytree_node = "";
                        layer.msg(res.msg,{time:1500,shade: 0.1});
                        zTreeObj.reAsyncChildNodes(null, "refresh");
                    }
                })
                layer.close(index);
            })
        }else {
            layer.msg("请选择节点",{time:1500,shade: 0.1});
        }
    })
//点击获取节点名称
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        mytree_node = treeNode;
        $("#groupname").val(treeNode.name);
        $("#mycontent>p").text(treeNode.name);
        $("#groupid").val(treeNode.id);
        groupid = treeNode.id;
        if(treeNode.level == 3){
            $("#mytable1_wrapper").css("display","block");
            admin_table.ajax.url("__SCRIPT__/project_table.php?pid=" + groupid).load();
        }else {
            $("#mytable1_wrapper").css("display","none");
        }

        //获取路径
        $.ajax({
            url: "./getParents",
            type: "post",
            data: {id:groupid},
            dataType: "json",
            success: function (res) {
                if(res.msg === "success"){
                    $("#path").text("当前路径:" + res.path)
                }
            }
        })


    };
    var setting = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./index",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };
    zTreeObj = $.fn.zTree.init($("#tree_container"), setting,null);



</script>
<script type="text/javascript">


    //提交
    $("#projectAdd .btn-primary").click(function () {
        $('#projectAdd').ajaxForm({
            success: complete,
            dataType: 'json'
        });
    })

    $("#level2 .btn-primary").click(function () {
        if(!$("#project_sn2").val()){
            layer.msg('请输入单位工程编号',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
            });
            return false;
        }
        $('#level2').ajaxForm({
            success: complete1,
            dataType: 'json'
        });
    });
    $("#level3 .btn-primary").click(function () {
        if(!$("#new4").val()){
            layer.msg('请输入分部工程编号',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
            });
            return false;
        }
        $('#level3').ajaxForm({
            success: complete1,
            dataType: 'json'
        });
    })

    $("#level4 .btn-primary").click(function () {
        if(!$("#new6").val()){
            layer.msg('请输入单元工程编号',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
            });
            return false;
        }
        $('#level4').ajaxForm({
            success: complete1,
            dataType: 'json'
        });
    })


    function complete1(data){
        console.log(data);
        if(data.code==1){
            $("#level2").modal('hide');
            $("#level3").modal('hide');
            $("#level4").modal('hide');
            zTreeObj.reAsyncChildNodes(null, "refresh");
            mytree_node = "";
            $("#mytable1_wrapper").css("display","none");
            layer.msg(data.msg);
        }else{
            layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
            return false;
        }
    }
    function complete(data){
        console.log(data);
        if(data.code==1){
            $("#myModal").modal('hide');
            layer.msg(data.msg);
            admin_table.ajax.url("__SCRIPT__/project_table.php?pid=" + mytree_node.id).load();
        }else{
            layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
            return false;
        }
    }




    //IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
<script>
        uploader = WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('Project/importExcel')}",// 文件接收服务端。
            chunked: false,
            fileSizeLimit: 1000 *1024 *1024,
//            formData: {"uid":"","table_name":"","group_id":"","revision":"","publish_date":""},
            duplicate :true,// 重复上传图片，true为可重复false为不可重复
            pick: {
                multiple: false,
                id: "#file_upload",
                innerHTML: ""
            },
            accept: {
                title: 'excel',
                extensions: 'xls,xlsx',
                mimeTypes: '.xls,.xlsx'
            }
        });

        uploader.on( 'fileQueued', function( file ) {
            $("#file_per").append('<div id="' + file.id + '" class="item">' +
                '</div>');
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress .progress-bar');
            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                    '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                    '</div>' +
                    '</div>').appendTo($li).find('.progress-bar');
            }
            $li.find('p.state').text('上传中');
            $percent.css('width', percentage * 100 + '%');
        });
        // 文件上传成功
        uploader.on( 'uploadSuccess', function( file,data ) {
            console.log(file)
            console.log(data)
                zTreeObj.reAsyncChildNodes(null, "refresh");
                mytree_node = "";
//            layer.msg(file.name + data.info,{icon:1,time:1500,shade: 0.1});
                var msg = file.name + data.info;
                layer.confirm(msg, {btn:'关闭',icon: 3, title:'提示'}, function(index){
                    layer.close(index);
                });
                $("#file_per").empty();
                $("#file_upload input").val("");

        });

        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ,data) {
            var msg = file.name + data.info;
            layer.confirm(msg, function(index){
                layer.close(index);
            });
            $("#file_per").empty();
        });
//        $("#btn_upload").click(function () {
//            uploader.upload();
//        })
</script>
</body>
</html>