{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
<link rel="stylesheet" href="__JS__/dist/plyr.css">
<style>
    .vcontainer{
        display: inline-block;
        width: 20%;
        margin: 5px 2%;
        position: relative;
    }
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 999;
        cursor: pointer;
    }
</style>
<body class="gray-bg" style="background-color:#fff;">
<!--<div id="mycontent" style="width: 35%;height: 100%;display: inline-block;margin: 0 10px;background-color:#fff;">-->
<!--<div id="list"></div>-->
<!--<div id="mytable1_wrapper" style="margin-top: 20px;">-->
<!--<table id="admin_table" width="100%" class="table table-striped table-bordered">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>ID</th>-->
<!--<th>文件名称</th>-->
<!--<th>上传时间</th>-->
<!--<th>操作</th>-->
<!--</tr>-->
<!--</thead>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <button>按钮</button>
                <div class="vcontainer">
                    <video controls>
                        <source src="__VIDEO__/123.mp4" type="video/mp4">
                    </video>
                    <div class="mask"></div>
                </div>
                <div class="vcontainer">
                    <video controls>
                        <source src="__VIDEO__/other.mp4" type="video/mp4">
                    </video>
                    <div class="mask"></div>
                </div>
                <div class="vcontainer">
                    <video controls>
                        <source src="__VIDEO__/123.mp4" type="video/mp4">
                    </video>
                    <div class="mask"></div>
                </div>
                <div class="vcontainer">
                    <video controls>
                        <source src="__VIDEO__/岩锚梁施工工法-1213_x264.mp4" type="video/mp4">
                    </video>
                    <div class="mask"></div>
                </div>
                <div class="vcontainer">
                    <video controls>
                        <source src="__VIDEO__/岩锚梁施工工法-1213_x264.mp4" type="video/mp4">
                    </video>
                    <div class="mask"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form_container" style="display: none;"></div>

{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/dist/plyr.js"></script>

<script type="text/javascript">

    plyr.setup();
    $("button").click(function () {
        window.open("/quality/view/construction/video.html","_blank");
    })
    $(".mask").click(function () {
        var url = $(this).parent(".vcontainer").find("source").attr("src");
        console.log(url);
        url = encodeURIComponent(url);
//        location.href = 'quality/construction/video.html';
    })

</script>
</body>
</html>