{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
<link rel="stylesheet" href="/static/admin/css/willesPlay.css">
<style>
    #container form{
        display: none;
    }
    .mybtn1{
        margin-right: 30px;
        float: left;
    }
    .mybtn{
        float: left;
        width: 100px;
        line-height: 30px;
        text-align: center;
        background-color: #a8d0e1;
        font-weight: 700;
        border: 1px solid #000;
        border-bottom: none;
        margin-right: 20px;
        border-radius: 5px 5px 0 0;
    }
    #upload{
        float: right;
        width: 88px;
        height: 30px;
        text-align: center;
        color: #fff;
        line-height: 30px;
        margin-right: 20px;
        cursor: pointer;
    }
    .webuploader-pick{
        padding: 0 15px;
    }
    #mylist{
        float: right;
        font-size: 14px;
        font-weight: 700;
    }
    #imgPicker>div:nth-child(2){
        width: 100% !important;
        height: 100% !important;
    }
    #mytable1_wrapper th,#mytable1_wrapper td{
        text-align: center;
    }
    #myModal input,#myModal select,#myModal textarea{
        background-color: transparent;
    }
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
    #operate,#add{
        height: 50px;
    }
    #operate>div{
        float: right;
        margin: 10px 10px;
        cursor: pointer;
    }
    #operate>div>span,#add span{
        display: inline-block;
        width: 60px;
        height: 30px;
        background-color: #ffad5c;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
    }
    #operate>div>i:first-child,#add i:first-child{
        display: inline-block;
        width: 15px;
        height: 30px;
        background-color: #ffad5c;
        border-radius: 30px 0 0 30px;
        vertical-align: top;
    }
    #operate>div>i:nth-child(3),#add i:nth-child(3){
        display: inline-block;
        width: 15px;
        height: 30px;
        background-color: #ffad5c;
        border-radius: 0 30px 30px 0;
        vertical-align: top;
    }
    #readonly table{
        width: 100%;
        border: 1px solid #000;
        line-height: 30px;
        text-align: center;
    }
    #readonly>table input{
        border: none;
        outline: none;
        width: 100%;
    }
    .border-right{
        border-right: 1px solid #000;
        font-weight: 700;
    }
    .border-bottom{
        border-bottom: 1px solid #000 !important;
    }
    .border-left{
        border-left: 1px solid #000;
    }
    #readonly .info{
        margin-top: 20px;
        border: 1px solid #000;
        font-size: 0;
        background-color: #bae2f3;
    }
    #readonly .info>span{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        min-width: 14%;
        font-size: 14px;
        line-height: 38px;
    }
    #readonly .info select{
        width: 100px;
        font-size: 14px;
    }
    .db{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-size: 14px;
        padding-top: 6px;
    }
    .db input,.bottom input{
        line-height: 20px;
    }
    .exp{
        display: inline-block;
        vertical-align: middle;
        line-height: 34px;
        width: 86%;
        background-color: #fff;
        border-left: 1px solid #000;
    }
    .exp .top{
        width: 100%;
        font-size: 0;
    }
    .exp .top span{
        display: inline-block;
        width: 18%;
        margin: 0 1%;
        font-size: 14px;
        text-align: center;
        height: 40px;
    }
    .exp .bottom input{
        display: inline-block;
        width: 18%;
        margin: 0 1%;
        font-size: 14px;
        margin-top: 10px;
    }
    #model1 .w2 input,#model1 .w2 span,#model3 .w3 input,#model3 .w3 span{
        width: 14%;
    }
    #model3 .w2 input,#model3 .w2 span{
        width: 12%;
    }
    #model3 .sp1,#model3 .w4 .top>span{
        width: 22%;
    }
    .sp1{
        display: inline-block;
        font-size: 14px;
        text-align: center;
        margin: 0 1%;
    }
    .sp1 input{
        line-height: 20px;
        width: 100%;
    }
    #table_wrapper>table,#myModal table{
        border: none;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    #myModal table:first-child{
        margin-top: 20px;
        border-top: 1px solid #000;
    }
    #table_wrapper>table td,#myModal table td{
        border-bottom: 1px solid #000;
    }
    #table_wrapper>table td:first-child,#myModal table td:first-child{
        width: 120px;
    }
    #table_wrapper>table input,#myModal table input{
        line-height: 20px;
        width: 90%;
    }
    #myModal table{
        width: 100%;
        line-height: 30px;
    }
    #zhihutable_wrapper th{
        text-align: center;
    }
    #level5{
        display: none;
    }
    #table_info{
        visibility: hidden;
    }
    *:fullscreen {
        position:fixed;
        top:0; right:0; bottom:0; left:0;
        margin:0;
        box-sizing:border-box;
        width:100%;
        height:100%;
        object-fit:contain;
    }
</style>
<body class="gray-bg" style="background-color:#fff;">
<div id="mycontent" style="width: 35%;height: 100%;display: inline-block;margin: 0 10px;background-color:#fff;">
    <div id="list"></div>
    <div id="mytable1_wrapper" style="margin-top: 20px;">
        <table id="admin_table" width="100%" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>文件名称</th>
                <th>上传时间</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 60%;vertical-align: top;padding: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <!--<iframe src="" frameborder="0"></iframe>-->
                <div id="willesPlay">
                    <div class="playContent">
                        <video  id="myvideo" src="" width="100%" height="100%" id="playVideo">
                            <source src="" type="video/mp4"></source>
                            当前浏览器不支持 video直接播放
                        </video>
                        <div class="playTip glyphicon glyphicon-play"></div>
                    </div>
                    <div class="playControll">
                        <div class="playPause playIcon"></div>
                        <div class="timebar">
                            <span class="currentTime">0:00:00</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                            </div>
                            <span class="duration">0:00:00</span>
                        </div>
                        <div class="otherControl">
                            <span class="volume glyphicon glyphicon-volume-down"></span>
                            <span class="fullScreen glyphicon glyphicon-fullscreen"></span>
                            <div class="volumeBar">
                                <div class="volumewrap">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 8px;height: 40%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form_container" style="display: none;"></div>

{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/willesPlay.js"></script>

<script type="text/javascript">

    function play(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        $.ajax({
            url: "./getUrl",
            data: {'id' : id},
            type: "post",
            dataType: "json",
            success: function (res) {
                console.log(res);
                if(res.code === 1){
                    if($(".playTip").css("display") === "none"){
                        $(".playTip").click();
                    }
                    $("#myvideo").attr("src",res.url);
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    }

    function del(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: "./videoDel",
                data: {'id' : id},
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        admin_table.ajax.url("__SCRIPT__/video_table.php").load();
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }
    var admin_table = $('#admin_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "__SCRIPT__/video_table.php",
            "async": false
        },
        "dom": 'lf<"ipt"><"#upload"><"#mylist">rtip',
        "columnDefs": [
            {
                "searchable": false,
                "orderable": false,
                "targets": [3],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='play(this)' value='查看'/>";
                    html += "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            }
        ],
        "language": {
            "lengthMenu": "每页_MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        }
    } );
    $("div.ipt").html('<input type="hidden" id="data_photo" name="portrait" >');
    $("div#upload").html('<div>上传文件</div>');
    $("div#mylist").html('<div></div>');

    var idlist;
    //上传图片,初始化WebUploader
    var $list = $("#list");
    var flie_count = 0;
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/uploadVideo')}",// 文件接收服务端。
        chunked: false,
        fileSizeLimit: 1000 *1024 *1024,
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#upload',// 选择文件的按钮。可选。
        accept: {
            title: 'mp4',
            extensions: 'mp4',
            mimeTypes: '.mp4'
        }

    });


    uploader.on('beforeFileQueued', function (file) {
        $.ajax({
            url: "./uploadVideo",
            type: "post",
            success: function (res) {
                console.log(res)
                if(res.code != 1){
                    layer.msg(res.msg);
                    return false;
                }else {
                    // 文件上传过程中创建进度条实时显示。
                    uploader.on('uploadProgress', function (file, percentage) {
                        var $li = $('#' + file.id),
                            $percent = $li.find('.progress .progress-bar');
                        // 避免重复创建
                        if (!$percent.length) {
                            $percent = $('<div class="progress progress-striped active">' +
                                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                                '</div>' +
                                '</div>').appendTo($li).find('.progress-bar');
                        }
                        $li.find('p.state').text('上传中');
                        $percent.css('width', percentage * 100 + '%');
                    });

                    // 文件上传成功
                    uploader.on( 'uploadSuccess', function( file,data, response ) {
                        console.log(file);
                        if(data.code === 1){
                            layer.msg(data.msg);
                            $("#mylist").empty();
                            $("#list").empty();
                            layer.close(index);
                        }else {
                            layer.msg("抱歉，您没有此权限");
                            $("#mylist").empty();
                            $("#list").empty();
                        }
                    });
                }
            }
        })
    });



    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        layer.msg("上传失败",{icon:2,time:1500,shade: 0.1});
        $("#mylist").empty();
        $("#list").empty();
    });



</script>
</body>
</html>