{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
<style>
    #picker{
        position: absolute;
        right: 166px;
        width: 69px;
        height: 34px;
        text-align: center;
        color: #fff;
        /*line-height: 34px;*/
        cursor: pointer;
        background-color: #00a2d4;
    }
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
    .mybtn{
        margin-right: 30px;
        float: left;
    }
    #imgPicker>div:nth-child(2){
        width: 100% !important;
        height: 100% !important;
    }
    #mytable1_wrapper th,#mytable1_wrapper td{
        text-align: center;
    }
    #myModal input,#myModal select,#myModal textarea{
        background-color: transparent;
    }
    .webuploader-pick{
        /*position: absolute;*/
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;
        /*background-color: transparent;*/
    }
    /*.webuploader-pick:hover{*/
        /*background-color: transparent;*/
    /*}*/
    #btn_upload{
        display: none;
    }
    #file_upload>div:nth-child(2){
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
    #dataImple,#alternativeStandard,#appEvaluation,#recogner{
        width: 125%;
    }
    #addName{
        width: 60%;
    }
    #options{
        font-size: 0;
        border: 1px solid #ccc;
    }
    #options i {
        display: inline-block;
        width: 32%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #000;
        cursor: pointer;
    }
    #file_upload1>div:nth-child(2){
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        left: 0 !important;
        top: -15px !important;

    }
    #mytable1_wrapper{
        display: none;
    }
    .panrpos{
        position: relative;
    }
    .pos{
        width: 223px;
        height: 106px;
        position: absolute;
        left: 0px;
        top: 34px
    }
    #excel{
        width: 280px;
        height: 33px;
        /*border: 1px solid red;*/
        position: absolute;
        right: 6px;
        top: 50px;
        z-index: 4;
    }
    #excel button{
        margin-left: 15px;
        width: 60px;
        height: 27px;
        border-radius: 24px;
        border: none;
        background: orange;
        color: white;
        outline: none;
    }
    #excel select{
        margin-left: 10px;
        width: 100px;
    }
    .float_left{
        margin-right: 400px;
    }
    .selectyear{
        position: absolute;
        left: 216px;
        top: 4px;
    }
    .selectyear input{
        width:50%;
    }
</style>
<body>
    <!--表头框架-->
    <div id="mycontent" style="width: 20%;height: 98%;display: inline-block;margin: 0 10px;background-color:#fff;overflow-x: scroll;padding-top: 20px;padding-right:10px;border-right: 1px solid #ccc;">
        <div style="text-align: center;background-color:#1ab394;line-height: 30px;color: #fff;">法律标准分类</div>
        <div id="file_per"></div>
        <div id="file_list"></div>
        <div id="options">
            <i class="iconfont icon-tianjiajiahaowubiankuang"></i>
            <i class="iconfont icon-bianji"></i>
            <i class="iconfont icon-shanchu"></i>
            <!--<i class="iconfont icon-daoru" id="file_upload"></i>-->
        </div>
        <div id="tree_container" class="ztree"></div>
        <p style="display: none;"></p>
    </div>
    <!--右边表格-->
    <div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 78%;vertical-align: top;padding: 0;margin-top: 20px;">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div id="path">当前路径:</div>
                    <div id="mytable1_wrapper">
                        <div id="excel">
                            <button id="excelImport">导入</button>
                            <button id="excelExport">导出</button>
                            <select name="down_excel" id="down_excel">
                                <option value="查看历史版本">查看历史版本</option>
                                <option value="两年">两年</option>
                            </select>
                        </div>
                        <table id="admin_table" width="100%" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="checkall">全选</th>
                                <th>ID</th>
                                <th>标准号</th>
                                <th>名称</th>
                                <th>施行日期</th>
                                <th>替代标准</th>
                                <th>适用性评价</th>
                                <th>识别人</th>
                                <th>上传时间</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--下载的文件-->
    <div id="formDown" style="display: none"></div>
    <!--右边表格的新增与编辑-->
    <div id="addRules_modal" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
        <div class="row">
            <div class="col-sm-12" style="background-color:#fff;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                    </div>
                    <input type="text" name="uid" id="id1" style="display: none;" value="">
                    <div class="ibox-content">
                        <!--新增用户信息开始-->
                        <form class="form-horizontal" name="memberAdd" id="memberAdd" method="post">
                            <input type="text" name="id" id="rulesid" style="display: none;">
                            <input type="text" name="group_id" id="pgroup_id" style="display: none;">
                            <div class="form-group">
                                <div class="col-lg-12 col-xs-12">
                                    <label class="col-xs-2 col-sm-2 control-label">标准号：</label>
                                    <div class="myblock col-xs-10 col-sm-10 input-group">
                                        <input id="standardNumr" type="text" class="form-control" name="standardNumr" >
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">施行日期：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="dataImple" type="text" class="form-control" name="dataImple" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">替代标准：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="alternativeStandard" type="text" class="form-control" name="alternativeStandard" >
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">适用性评价：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <select name="appEvaluation" id="appEvaluation" class="form-control" >
                                            <option value="适用">适用</option>
                                            <option value="过期">过期</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">识别人：</label>
                                    <div class="myblock col-xs-6 input-group panrpos" >
                                        <input id="recogner" type="text" class="form-control" name="recogner" >
                                        <div class="pos">
                                            <div id="tree_recogner" class="ztree"></div>
                                            <p id="pRecogner" style="display: none;"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-12 col-xs-12">
                                    <label class="col-xs-6 col-sm-2 control-label">名称：</label>
                                    <div class="myblock col-xs-6 col-sm-10 input-group">
                                        <div id="file_per1" style="display: inline-block;vertical-align: middle;"></div>
                                        <div id="file_upload1" style="display: inline-block;vertical-align: middle;"></div>
                                        <div id="file_list1" style="display: inline-block;vertical-align: middle;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-12 col-xs-12">
                                    <label class="col-xs-2 col-sm-2 control-label">备注：</label>
                                    <div class="myblock col-xs-10 col-sm-10 input-group">
                                        <textarea name="rulesDesc" id="rulesDesc" style="width: 100%;min-height: 100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-lg-12"  style="text-align: center;margin-top: 10px">
                                    <button class="btn btn-primary" type="button"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                                </div>
                            </div>
                        </form>
                        <!--新增用户信息结束-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--左边tree的新增与编辑-->
    <div id="level2" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="width: 60%;margin: 0 auto;margin-top: 40px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                    </div>
                    <div class="ibox-content">
                        <!--新增用户信息开始-->
                        <form class="form-horizontal" name="level2Add" id="level2Add" method="post" action="{:url('nodeAdd')}">
                            <input type="text" name="pid" value="" id="treePid" style="display: none;">
                            <input type="text" name="id" value="" id="id2" style="display: none;">
                            <div class="form-group">
                                <div class="col-lg-12 col-xs-12">
                                    <label class="col-xs-3 control-label">名称：</label>
                                    <div class="myblock col-xs-8 input-group">
                                        <input id="companyName" type="text" class="form-control" name="name" >
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center;">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                                </div>
                            </div>
                        </form>
                        <!--新增用户信息结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>

<script type="text/javascript">


    var admin_table = $('#admin_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "__SCRIPT__/safety_rules.php"
        },
        "dom": '<"mybtn btn btn-outline btn-primary"><"selectyear"><"myl"l><"float_left"f>tip',
        "columnDefs": [
            {
                "searchable": false,
                "targets": 0,
                "render": function (data, type, full, meta) {
                    return '<input type="checkbox"  class="checkchild" onclick="getRadioId(this)" value="' + data + '" />';
                }
            },
            {
                "searchable": false,
                "orderable": false,
                "targets": [10],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='downloadFile(this)' value='下载'/>";
                    html += "<input type='button' class='btn btn-success btn-outline btn-xs' style='margin-left: 5px;' onclick='preview(this)' value='预览'/>" ;
                    html += "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            }
        ],
        "language": {
            "lengthMenu": "每页_MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        }
    } );
    $("div.mybtn").html('<div>新增</div>');


    //组织结构树
    var zTreeObj;
    var mytree_node;
    var zTreeRecogner;
    var mytree_node1;
    //树结构添加节点
    $("#options>i:first-child").click(function () {
        $("#level2 input").val("");
//        $("#treePid").val(mytree_node.id);
        $("#level2 h5").text('添加');
        $("#level2").modal('show');
        console.log(mytree_node)
//        if(mytree_node){
//            if(mytree_node.level == 0){
//                $("#level2 input").val("");
//                $("#treePid").val(mytree_node.id);
//                $("#level2 h5").text('添加');
//                $("#level2").modal('show');
//                console.log($("#treePid").val())
////                var id = mytree_node.id;
////                $.ajax({
////                    url: "nodeAdd",
////                    type: "post",
////                    data: {id:id},
////                    dataType: "json",
////                    success: function (res) {
////                        console.log(res);
////                        if(res.msg == "success"){
////                            if(res.data.post_sn){
////                                $("#companyName").val(res.data.sn + "-" + res.data.post_sn + "-");
////                            }else {
////                                $("#companyName").val(res.data.sn + "-");
////                            }
////                        }
////                    }
////                });
//            }
////            else if(mytree_node.level == 1){
////                $("#level3 input").val("");
////                $("#pid3").val(mytree_node.id);
////                var id = mytree_node.id;
////                $.ajax({
////                    url: "nodeEdit",
////                    type: "post",
////                    data: {id:id},
////                    dataType: "json",
////                    success: function (res) {
////                        console.log(res);
////                        if(res.msg == "success"){
////                            if(res.data.post_sn){
////                                $("#new3").val(res.data.sn + "-" + res.data.post_sn + "-");
////                            }else {
////                                $("#new3").val(res.data.sn + "-");
////                            }
////                        }
////                    }
////                });
////                $("#level3 h5").text('添加');
////                $("#level3").modal('show');
////            }else if(mytree_node.level == 2){
////                $("#level4 input").val("");
////                $("#pid4").val(mytree_node.id);
////                var id = mytree_node.id;
////                $.ajax({
////                    url: "nodeEdit",
////                    type: "post",
////                    data: {id:id},
////                    dataType: "json",
////                    success: function (res) {
////                        console.log(res);
////                        if(res.msg == "success"){
////                            if(res.data.post_sn){
////                                $("#new5").val(res.data.sn + "-" + res.data.post_sn + "-");
////                            }else {
////                                $("#new5").val(res.data.sn + "-");
////                            }
////                        }
////                    }
////                });
////                $("#level4 h5").text('添加');
////                $("#level4").modal('show');
////            }
//        }else {
//            layer.msg("请选择节点",{time:1500,shade: 0.1});
//        }
    })
    //树结构编辑节点
    $("#options>i:nth-child(2)").click(function () {
        if(mytree_node){
            var id = mytree_node.id;
            console.log(id)
            $.ajax({
                url: "getOneNode",
                type: "post",
                data: {id:id},
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    console.log(mytree_node);
//                    if(res.msg == "编辑成功"){
//                        var data = res.data;
                        console.log(mytree_node.id);
                    if(mytree_node.level == 0) {
                        $("#level2 input").val("");
                        $("#treePid").val(mytree_node.pId);
                        $("#id2").val(mytree_node.id);
                        $("#companyName").val(res.pname);
                        $("#level2 h5").text('编辑');
                        $("#level2").modal('show');
                    }else if(mytree_node.level == 1) {
                        $("#level2 input").val("");
                        $("#treePid").val(mytree_node.pId);
                        $("#id2").val(mytree_node.id);
                        $("#companyName").val(res.pname);
                        $("#level2 h5").text('编辑');
                        $("#level2").modal('show');
                    }
//                        }else if(mytree_node.level == 2){
//                            $("#level3 input").val("");
//                            $("#pid3").val(mytree_node.pId);
//                            $("#id3").val(mytree_node.id);
//                            if(data.sn.substr(-1,1) == "-"){
//                                $("#new3").val(data.sn);
//                            }else {
//                                $("#new3").val(data.sn + "-");
//                            }
//                            if(data.post_sn){
//                                $("#new4").val(data.sn + "-" + data.post_sn + "-");
//                            }else {
//                                $("#new4").val(data.sn + "-");
//                            }
//                            $("#new4").val(data.post_sn);
//                            $("#project_name3").val(data.name);
//                            $("#main_project3").val(data.primary);
//                            $("#level3 h5").text('编辑');
//                            $("#level3").modal('show');
//                        }else if(mytree_node.level == 3){
//                            $("#level2 input").val("");
//                            $("#pid4").val(mytree_node.pId);
//                            $("#id4").val(mytree_node.id);
//                            if(data.sn.substr(-1,1) == "-"){
//                                $("#new5").val(data.sn);
//                            }else {
//                                $("#new5").val(data.sn + "-");
//                            }
//                            $("#new6").val(data.post_sn);
//                            $("#project_name4").val(data.name);
//                            $("#main_project4").val(data.primary);
//                            $("#level4 h5").text('编辑');
//                            $("#level4").modal('show');
//                        }
//                    }
                }
            })
        }else {
            layer.msg("请选择节点",{time:1500,shade: 0.1});
        }
    })
    //树结构删除节点
    $("#options>i:nth-child(3)").click(function () {
        if(mytree_node){
            layer.confirm("警告！你将会删除"+  mytree_node.name  +"！确认删除?", {icon: 3, title:'提示'}, function(index){
                var id = mytree_node.id;
                $.ajax({
                    url: "nodeDel",
                    type: "post",
                    data: {id:id},
                    dataType: "json",
                    success: function (res) {
//                        if(mytree_node.level === 3){
//                            admin_table.ajax.url("__SCRIPT__/project_table.php").load();
//                        }
                        mytree_node = "";
                        layer.msg(res.msg,{time:1500,shade: 0.1});
                        zTreeObj.reAsyncChildNodes(null, "refresh");
                    }
                })
                layer.close(index);
            })
        }else {
            layer.msg("请选择节点",{time:1500,shade: 0.1});
        }
    })
    //点击获取节点名称
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        mytree_node = treeNode;
        $("#groupname").val(treeNode.name);
        $("#mycontent>p").text(treeNode.name);
        $("#groupid").val(treeNode.id);
        groupid = treeNode.id;
        console.log(groupid)
        if(treeNode.level == 0){
            $("#mytable1_wrapper").css("display","block");
            admin_table.ajax.url("__SCRIPT__/safety_rules.php?pid=" + groupid).load();
//            console.log(groupid)
//            console.log(mytree_node.id)
//            console.log(treeNode);
        }else {
            if(treeNode.level == 1){
                $("#mytable1_wrapper").css("display","block");
                admin_table.ajax.url("__SCRIPT__/safety_rules.php?pid=" + groupid).load();
            }
//            $("#mytable1_wrapper").css("display","none");
        }
        //获取路径
        $.ajax({
            url: "./getParents",
            type: "post",
            data: {id:groupid},
            dataType: "json",
            success: function (res) {
                if(res.msg === "success"){
                    $("#path").text("当前路径:" + res.path)
                }
            }
        })
    };
    var setting = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./index",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };
    zTreeObj = $.fn.zTree.init($("#tree_container"), setting, mytree_node);

    //点击获取识别人节点名称
    function zTreeRecognerOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        mytree_node1 = treeNode;
        $("#groupname").val(treeNode.name);
        $("#pRecogner").text(treeNode.name);
        $("#recogner").val(treeNode.name);
    };
    var setting1 = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./getRuluser",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeRecognerOnClick
        }
    };
    zTreeRecogner = $.fn.zTree.init($("#tree_recogner"), setting1, mytree_node1);


    //保存tree节点按钮
    $("#level2 .btn-primary").click(function () {
        if(!$("#companyName").val()){
            layer.msg('请输入名称',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
            });
            return false;
        }
        console.log($("#treePid").val())
        console.log($("#companyName").val())
        $('#level2').ajaxForm({
            success: complete1,
            data:{
                pid:$("#treePid").val(),
                pname:$("#companyName").val()
            },
            dataType: 'json'
        });
    });
    function complete1(data){
        console.log(data);
        if(data.code==1){
            console.log(2222222222222222)
            $("#level2").modal('hide');
            zTreeObj.reAsyncChildNodes(null, "refresh");
            mytree_node = "";
            $("#mytable1_wrapper").css("display","none");
            layer.msg(data.msg);
        }else{
            layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
            return false;
        }
    }

    //点击时间插件
    $("#dataImple").jeDate({
        format: "YYYY-MM-DD"
    });


    //上传插件
//    var uploader;
    var aname1,aname2;   //用于区分 编辑时是否修改了文件
    var uploader1;
    function upload1() {
        if(!uploader1){
            uploader1 = WebUploader.create({
                auto: false,// 选完文件后，是否自动上传。
                swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('Upload/uploadRules')}",// 文件接收服务端。
                chunked: false,
                fileSizeLimit: 1000 *1024 *1024,
                fileNumLimit: 1,
//                formData: {"remark":"","aid":""},
                duplicate :true,// 重复上传图片，true为可重复false为不可重复
                pick: {
                    multiple: false,
                    id: "#file_upload1",
                    innerHTML: "上传文件"
                }
            });
            //点击新增出现--上传文件
            uploader1.on( 'fileQueued', function( file ) {
                aname2 = file.name;
                $("#file_per1").append('<div id="' + file.id + '" class="item">' +
                    '</div>');
                $("#file_list1").append('<div style="display: inline-block;vertical-align: middle;width: 100%;height: 100%;" class="' + file.id + '" class="item">' +
                    '<span class="info" style="padding-left: 10px;"><input class="infoText" style="height: 38px;" type="text" value="' + file.name + '"/></span>&nbsp' +
                    '<span class="webuploadDelbtn" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;padding-left: 5px;">删除</span>' +
                    '</div>' );
            });
            $("#file_list1").on("click", ".webuploadDelbtn", function () {
                var $ele = $(this);
                var id = $ele.parent().attr("class");
                var file = uploader1.getFile(id);
                uploader1.removeFile(file,true);
            });
            uploader1.on('fileDequeued', function (file) {
                $(file.id).remove();
                $('.'+file.id).remove();
                console.log("remove");
            });
            uploader1.on("uploadStart",function () {
                console.log(groupid)
                uploader1.options.formData.id = $("#rulesid").val();//id
                uploader1.options.formData.group_id = groupid;//group_id
                uploader1.options.formData.number = $("#standardNumr").val();//标准号
                uploader1.options.formData.rul_name = $("#file_list1 .info .infoText").val();//名称
                uploader1.options.formData.go_date = $("#dataImple").val();//施行日期
                uploader1.options.formData.standard = $("#alternativeStandard").val();//替代标准
                uploader1.options.formData.evaluation = $("#appEvaluation").val();//适用性评价
                uploader1.options.formData.rul_user = $("#recogner").val();//识别人
                uploader1.options.formData.remark = $("#rulesDesc").val()//备注
            });
            uploader1.on('beforeFileQueued', function (file) {
                if($("#file_list1").html()){
                    alert("只能上传一个文件,请先删除文件");
                    return false;
                }else {
                    return true;
                }
            });
            // 文件上传过程中创建进度条实时显示。
            uploader1.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress .progress-bar');
                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo($li).find('.progress-bar');
                }
                $li.find('p.state').text('上传中');
                $percent.css('width', percentage * 100 + '%');
            });
            // 文件上传成功
            uploader1.on( 'uploadSuccess', function( file,data, response ) {
                console.log(file)
                console.log(data)
                if(data.code === 1){
                    console.log(groupid+77777777)
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1});
                    $("#file_upload1").empty();
                    $("#file_per1").empty();
                    $("#file_list1").empty();
                    $("#addRules_modal").modal('hide');
                    admin_table.ajax.url("__SCRIPT__/safety_rules.php?pid=" + groupid).load();
                }else {
                    layer.msg("抱歉，您没有此权限");
                }
            });
            // 文件上传失败，显示上传出错。
            uploader1.on( 'uploadError', function( file ) {
                layer.msg("上传失败",{icon:2,time:1500,shade: 0.1});
                $("#file_per1").empty();
            });
        }
    }
    //点击新增按钮
    $(".mybtn").click(function () {
        uploader1 = null;
        $("#addRules_modal input").val("");
        $("#file_list1").empty();
        $("#rulesDesc").empty();
        $("#addRules_modal h5").text("新增");
        $("#addRules_modal").modal('show');
        upload1();
    });
    //    var uploader;
    //    //在点击弹出模态框的时候再初始化WebUploader，解决点击上传无反应问题
    //    $("#addRules_modal").on("shown.bs.modal",function(){
    //        uploader = WebUploader.create({
    //            auto: true,
    //            // swf文件路径
    //            swf:  '/static/admin/js/webupload/Uploader.swf',
    //
    //            // 文件接收服务端。
    //            server: "{:url('Upload/uploadRules')}",
    //
    //            // 选择文件的按钮。可选。
    //            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    //            pick: {
    //                multiple: false,
    //                id: "#picker",
    //                innerHTML: "上传"
    //            },
    //            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
    //            resize: false
    //
    //        });
    //        var $list = $('#addName');
    //        uploader.on( 'fileQueued', function( file ) {
    //            $list.val('等待上传...');
    //        });
    //
    //        uploader.on( 'uploadSuccess', function( file ) {
    //            $list.val(file.name+'已上传成功');
    //        });
    //
    //        uploader.on( 'uploadError', function( file ) {
    //            $list.val('上传出错');
    //        });
    //    });
    //    //关闭模态框销毁WebUploader
    //    $('#addRules_modal').on('hide.bs.modal', function () {
    //        uploader.destroy();
    //    });

    //新增的保存
    $("#addRules_modal .btn-primary").click(function () {
        console.log($("#file_list1 .info").text())
        if($("#file_list1").html()){
            if(!$("#id1").val()){
                //非空判断
                isEmpty('standardNumr','标准号不能为空');
                isEmpty('dataImple','施行日期不能为空');
                isEmpty('appEvaluation','适用性评价不能为空');
                isEmpty('recogner','识别人不能为空');
                if($("#appEvaluation").val() == '过期'){
                    if($("#alternativeStandard").val() != ''){
                        uploader1.upload();
                        console.log("新增")
                    }else {
                        alert('请填写替代标准')
                    }
                }else if($("#appEvaluation").val() != '过期'){
                    uploader1.upload();

                }
            }else {
                console.log("编辑")
                console.log($("#file_list1 .info .infoText").text())
                if(aname1 === aname2){
                    $.ajax({
                        url: "./rulesEdit",
                        type: "post",
                        data: {
                            id : $("#rulesid").val(),//id
                            group_id : groupid,//group_id
                            number : $("#standardNumr").val(),//标准号
                            rul_name : $("#file_list1 .info .infoText").val(),//名称
                            go_date : $("#dataImple").val(),//施行日期
                            standard : $("#alternativeStandard").val(),//替代标准
                            evaluation : $("#appEvaluation").val(),//适用性评价
                            rul_user : $("#recogner").val(),//识别人
                            remark : $("#rulesDesc").val()//备注
                        },
                        datatype: "json",
                        success: function (res) {
                            if(res.code === 1){
                                layer.msg(res.msg);
                                admin_table.ajax.url("__SCRIPT__/safety_rules.php?pid=" + groupid).load();
                                $("#addRules_modal").modal('hide');
                            }else {
                                layer.msg(res.msg);
                            }
                        }
                    })
                }else {
                    uploader1.upload();
                }
            }
        }else {
            alert("请选择上传文件");
        }
    })

    //新增中的返回
    $("#addRules_modal .btn-danger").click(function () {
        standard_uploader = null;
    });
    //编辑
    function edit(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        $("#addRules_modal input").val("");
        $("#id1").val(id);
        $("#file_list1").empty();
        $("#addRules_modal h5").text("编辑");
        $("#addRules_modal").modal("show");
        $.ajax({
            url: "./getRules",
            type: "post",
            data: {id:id},
            dataType: "json",
            success: function (res) {
                console.log(res);
//                if(res.code === 1){
                    console.log(12345678+"获取一条数据");
                    console.log(res.number);
                    $("#rulesid").val(res.id);//id
                    $("#standardNumr").val(res.number);//标准号
                    $("#file_list1 .info").text(res.rul_name);//名称
                    $("#dataImple").val(res.go_date);//施行日期
                    $("#appEvaluation").val(res.evaluation);//适用性评价
                    $("#recogner").val(res.rul_user);//识别人
                    $("#rulesDesc").val(res.remark)//备注
                    aname1 = res.rul_name;
                    aname2 = res.rul_name;
                    uploader1 = null;
                    upload1();
//                    if(res.data.path){
                        $("#file_list1").empty().append('<div style="display: inline-block;vertical-align: middle;" id="' + res.id + '" class="item">' +
                            '<span class="info">' + res.rul_name + '</span>&nbsp' +
                            '<span onclick="fdelatt1(this)" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>' +
                            '</div>' );
//                    }
//                    $("#addRules_modal").modal('show');
//                }
            }
        })
    }
    //规章制度-编辑-删除上传的文件
    function fdelatt1(that) {
        var id = $(that).parent("div").attr("id");
        $("#"+id).remove();
    }
    //规章制度-点击编辑
//    var standard_uploader;
//    function edit(that) {
//        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
//        $("#addRules_modal input").val("");
//        $("#id1").val(id);
//        $("#standard_list").empty();
//        $("#addRules_modal h5").text("编辑");
//        console.log(standard_uploader+0000)
//        if(!standard_uploader){
//            standard_uploader = WebUploader.create({
//
//                auto: false,// 选完文件后，是否自动上传。
//                swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
//                server: "{:url('Upload/uploadRules')}",// 文件接收服务端。
//                chunked: false,
//                fileSizeLimit: 1000 *1024 *1024,
//                fileNumLimit: 1,
//                formData: {"id":"","group_id":"","number":"","rul_name":"","go_date":"","evaluation":"","rul_user":"","remark":""},
//                duplicate :true,// 重复上传图片，true为可重复false为不可重复
//                pick: {
//                    multiple: false,
//                    id: "#standard_upload",
//                    innerHTML: "上传文件"
//                }
//            });
//
//            standard_uploader.on( 'fileQueued', function( file ) {
//                file_name2 = file.name;
//                $("#standard_per").append('<div id="' + file.id + '" class="item">' +
//                    '</div>');
//                $("#standard_list").empty().append('<div style="display: inline-block;vertical-align: middle;" class="' + file.id + '" class="item">' +
//                    '<span class="info">' + file.name + '</span>&nbsp' +
//                    '<span class="webuploadDelbtn" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>' +
//                    '</div>' );
//            });
//            $("#file_list").on("click", ".webuploadDelbtn", function () {
//                var $ele = $(this);
//                var id = $ele.parent().attr("class");
//                var file = uploader.getFile(id);
//                uploader.removeFile(file,true);
//            });
//            standard_uploader.on('fileDequeued', function (file) {
//                $(file.id).remove();
//                $('.'+file.id).remove();
//                console.log("remove");
//            });
//            standard_uploader.on("uploadStart",function () {
//                console.log(groupid)
//                standard_uploader.options.formData.id = $("#rulesid").val();//id
//                standard_uploader.options.formData.group_id = groupid;//group_id
//                standard_uploader.options.formData.number = $("#standardNumr").val();//标准号
//                standard_uploader.options.formData.rul_name = $("#file_list1 .info").text();//名称
//                standard_uploader.options.formData.go_date = $("#dataImple").val();//施行日期alternativeStandard
////                standard_uploader.options.formData.standard = $("#alternativeStandard").val();//替代标准
//                standard_uploader.options.formData.evaluation = $("#appEvaluation").val();//适用性评价
//                standard_uploader.options.formData.rul_user = $("#recogner").val();//识别人
//                standard_uploader.options.formData.remark = $("#rulesDesc").val()//备注
//            });
//            standard_uploader.on('beforeFileQueued', function (file) {
//                if($("#standard_list").html()){
//                    alert("请先删除文件");
//                    return false;
//                }else {
//                    return true;
//                }
//            });
//            // 文件上传过程中创建进度条实时显示。
//            standard_uploader.on('uploadProgress', function (file, percentage) {
//                var $li = $('#' + file.id),
//                    $percent = $li.find('.progress .progress-bar');
//                // 避免重复创建
//                if (!$percent.length) {
//                    $percent = $('<div class="progress progress-striped active">' +
//                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
//                        '</div>' +
//                        '</div>').appendTo($li).find('.progress-bar');
//                }
//                $li.find('p.state').text('上传中');
//                $percent.css('width', percentage * 100 + '%');
//            });
//            // 文件上传成功
//            standard_uploader.on( 'uploadSuccess', function( file,data, response ) {
//                console.log(file)
//                console.log(data)
//                if(data.code === 1){
//                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1});
//                    standard_uploader = null;
//                    standard_table.ajax.url("__SCRIPT__/prototype.php").load();
//                    ss_table.ajax.url("__SCRIPT__/prototype_list.php").load();
//                    cid = "";
//                    $("#addRules_modal").modal('hide');
//                    $("#standard_per").empty();
//                }else {
//                    layer.msg("抱歉，您没有此权限");
//                }
//            });
//
//            // 文件上传失败，显示上传出错。
//            standard_uploader.on( 'uploadError', function( file ) {
//                layer.msg("上传失败",{icon:2,time:1500,shade: 0.1});
//                $("#standard_per").empty();
//                $("#standard_upload").empty();
//            });
//        }
//        $("#addRules_modal").modal("show");
//        $.ajax({
//            url: "./index",
//            type: "post",
//            data: {id:id},
//            dataType: "json",
//            success: function (res) {
//                console.log(12345678);
//                console.log(res);
//                $("#rulesid").val();//id
//                $("#standardNumr").val();//标准号
//                $("#file_list1 .info").text();//名称
//                $("#dataImple").val();//施行日期
//                $("#appEvaluation").val();//适用性评价
//                $("#recogner").val();//识别人
//                $("#rulesDesc").val()//备注
//
//
////                file_name1 = res.data.filename;
////                file_name2 = res.data.filename;
////                if(res.data.path){
////                    $("#standard_list").append('<div style="display: inline-block;vertical-align: middle;" id="' + res.data.id + '" class="item">' +
////                        '<span class="info">' + res.data.filename + '</span>&nbsp' +
////                        '<span onclick="delatt(this)" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>' +
////                        '</div>' );
////                }
//            }
//        })
//    }
    //规章制度-下载方法
    function download(id,url) {
        $.ajax({
            url: url,
            success: function (res) {
                if(res.code != 1){
                    layer.msg(res.msg)
                }else {
                    $("#formDown").empty();
                    var str = "";
                    str += ""
                        + "<iframe name=downloadFrame"+ id +" style='display:none;'></iframe>"
                        + "<form name=download"+ id +" action="+ url +" method='get' target=downloadFrame"+ id +">"
                        + "<span class='file_name' style='color: #000;'>"+str+"</span>"
                        + "<input class='file_url' style='display: none;' name='id' value="+ id +">"
                        + "<button type='submit' class=btn" + id +"></button>"
                        + "</form>"
                    $("#formDown").append(str);
                    $("#formDown").find(".btn" + id).click();
                }
            }
        })
    }
    //规章制度-点击下载
    function downloadFile(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        console.log(id)
        download(id,"./rulesDownload");
    }
    //规章制度-预览方法
    function showPdf(id,url) {
        $.ajax({
            url: url,
            type: "post",
            data: {id:id},
            success: function (res) {
                if(res.code === 1){
                    var path = res.path;
                    window.open("__JS__/web/viewer.html?file=" + path,"_blank");
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    }
    //规章制度-点击预览
    function preview(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        console.log(id)
        showPdf(id,"./rulesPreview");
    }
    //规章制度-点击删除
    function del(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: "./rulesDel",
                data: {'id' : id},
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        admin_table.ajax.url("__SCRIPT__/safety_rules.php?pid=" + groupid).load();
//                        cid = "";
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }
    //点击评价标准置灰
    $("#appEvaluation").click(function () {
        console.log($("#appEvaluation").val())
        if($("#appEvaluation").val() == '过期'){
            $("#alternativeStandard").attr("readOnly",false);
        }else if($("#appEvaluation").val() == '适用'){
            $("#alternativeStandard").attr("readOnly",true);
        }
    });
    //获取选中行ID
    var dataArr=[];
    function getDataId(that) {
        var isChecked = $(that).prop('checked');
        var id = $(that).parents('tr').find('td:eq(1)').text();
        if(isChecked){
            dataArr.push(id);
        }
    }

    //单选
    function getRadioId(that) {
        console.log(dataArr);
        getDataId(that);
    }

    //checkbox全选
    $(".checkall").on("click", function () {
        console.log(dataArr);

        if ($(this).prop("checked") === true) {
            var check = $(this).prop("checked");
            $(".checkchild").prop("checked", check);
            $(".checkchild").each(function(){
                getDataId(this);
            });
        } else {
            $(".checkchild").prop("checked", false);
        }
    });
//    //点击全选
//    $(".checkall").click(function () {
//        var check = $(this).prop("checked");
//        $(".checkchild").prop("checked", check);
//    });
    var uploaderExcel;
    //导入excelImport
    $("#excelImport").click(function () {
        uploaderExcel = WebUploader.create({
            auto: false,// 选完文件后，是否自动上传。
            swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('Rulesregulations/importExcel')}",// 文件接收服务端。
            chunked: false,
            fileSizeLimit: 1000 *1024 *1024,
            fileNumLimit: 1,
            formData: {
                id : '',//id
                group_id : '',//group_id
                number : '',//标准号
                rul_name : '',//名称
                go_date : '',//施行日期
                standard : '',//替代标准
                evaluation : '',//适用性评价
                rul_user : '',//识别人
                remark : ''//备注
            },
            duplicate :true,// 重复上传图片，true为可重复false为不可重复
//            pick: {
//                multiple: false,
//                id: "#file_upload1",
//                innerHTML: "上传文件"
//            }
        });
        uploaderExcel.on( 'fileQueued', function( file ) {
            $list.val('等待上传...');
        });

        uploaderExcel.on( 'uploadSuccess', function( file ) {

            var tt = $list.val(file.name+'已上传成功');
            layer.msg(tt, {icon: 1});
        });

        uploaderExcel.on( 'uploadError', function( file ) {
            $list.val('上传出错');
        });
    });

    //导出excelExport
    $("#excelExport").click(function () {
        $.ajax({
            url: "./exportExcel",
            type: "post",
            data: {
                'id':dataArr
            },
            dataType: "json",
            success: function (res) {
                console.log(res);
                if(res.code ==1){
                    layer.msg('导出成功！', {icon: 1});
                }else{
                    alert("获取数据失败！")
                }
            }
        })
    });
    var selectyear ='<input id="year" />';
    $("div.selectyear").html("年度："+selectyear)
    //选择年度
    $("#year").jeDate({
        isinitVal:true,
        format:"YYYY年",
        okfun:function (obj) {
            admin_table.ajax.url("__SCRIPT__/safety_rules.php?years="+obj.date.YYYY+"&pid=" + groupid).load();
            console.log(groupid)
            console.log(obj.date.YYYY);
        }
    });

</script>
</body>
</html>