<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
{include file="public/header" /}
<body>
<style>
    .revised-record{
        background-color: #fff;
        border-right: 1px solid #ccc;
    }
    .revised-record h2{
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        margin: 0 10px;
        padding: 10px 0;
        text-align: center;
    }
    .dt-buttons{
        float: right;
        margin-top: 5px;
    }
    #tableItem .btn{
        margin-right: 2px;
    }
    .table-info{
        padding: 0 10px;
    }
    .dataTables_filter input{
        border: 1px solid #ccc;
    }

    table.dataTable thead th{
        font-weight: normal;
        font-size: 16px;
    }
    .table-info td{
        font-weight: normal;
        font-size: 14px;
    }
    table.dataTable.no-footer{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .add,.import,.export,.exportExcel{
        float: right;
        margin: 10px 5px 10px;
        font-size: 13px;
    }
    .dataTables_wrapper .dataTables_length{
        margin-top: 15px;
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: 10px;
    }
    .dataTables_wrapper .dataTables_filter input,#years{
        margin: 0;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .dataTables_wrapper .dataTables_filter label{
        font-weight: normal;
    }
    table.dataTable thead th, table.dataTable tfoot th{
        font-weight: normal;
    }
    table.dataTable thead th.sorting:first-child:after{
        content:''
    }
    table.dataTable tbody tr.selected{
        background: none;
    }
    table.dataTable thead label{
        margin-bottom: 0;
        font-weight: normal;
    }
    .graytip{
        background: #ffffe9;
        border-bottom: 1px solid #e3e6eb;
    }
    .div_mail_info{
        width: 100%;
        line-height: 24px;
        text-align: center;
    }
    .webuploader-pick{
        padding: 6px 12px;
        background: none;
        color: #1ab394;
    }
    .webuploader-pick-hover{
        background: none;
        color: #FFF;
    }
    #import{
        padding: 0;
    }
</style>
<div class="revised-record">
    <input type="hidden" name="fileId">
    <input type="hidden" name="major_key">
    <h2>修编记录</h2>
    <div class="table-info">
        <table id="tableItem" class="table table-striped" cellspacing="0"  width="100%">
            <thead>
            <tr>
                <th>全选
                    <input type='checkbox' name='all_checked' id="all_checked" class='icheckbox_minimal' value=''>
                </th>
                <th>序号</th>
                <th>标段</th>
                <th>部位</th>
                <th>风险名称</th>
                <th>风险等级</th>
                <th>开工时间</th>
                <th>完工时间</th>
                <th>施工方责任人</th>
                <th>监理责任人</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div id="addRules_modal" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12" style="background-color:#fff;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文件上传</h5>
                </div>
                <input type="text" name="uid" id="id1" style="display: none;" value="">
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="memberAdd" id="memberAdd" method="post">
                        <input type="hidden" name="oldFileName" id="oldFileName">
                        <input type="hidden" name="newFileName" id="newFileName">
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">标段：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="segmentv" type="text" class="form-control" name="segmentv" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">部位：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="position" type="text" class="form-control" name="position" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">作业内容：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="job_content" type="text" class="form-control" name="job_content">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-xs-offset-0">风险因素：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="risk_factor" type="text" class="form-control" name="risk_factor">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label"><span>存在的风险：</span><br /><span>(风险名称)</span></label>
                                <div class="col-xs-6 input-group">
                                    <input id="riskname" type="text" class="form-control" name="riskname" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险等级：</label>
                                <div class="col-xs-6 input-group">
                                    <input id="risk_grade" type="text" class="form-control" name="risk_grade" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">开工时间：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="on_stream_time" type="text" class="form-control" name="on_stream_time" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">完工时间：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <input id="completion_time" type="text" class="form-control" name="completion_time" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">施工单位责任人：</label>
                                <div class="col-xs-6 input-group">
                                    <input id="construction_user" type="text" class="form-control" name="construction_user">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">联系电话：</label>
                                <div class="col-xs-6 input-group">
                                    <input id="c_iphone" type="text" class="form-control" name="c_iphone">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">监理单位责任人：</label>
                                <div class="col-xs-6 input-group">
                                    <input id="supervision_user" type="text" class="form-control" name="supervision_user">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">联系电话：</label>
                                <div class="col-xs-6 input-group">
                                    <input id="s_iphone" type="text" class="form-control" name="s_iphone">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-2 col-sm-4 control-label">预控措施：</label>
                                <div class="col-xs-6 input-group">
                                    <textarea name="measures" id="measures" style="width: 100%;min-height: 100px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">年度风险辨识文件：</label>
                                <div class="col-xs-6 input-group">
                                    <div class="btn btn-upload" id="yearUpload">上传</div>
                                    <div id="yearUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">季度风险辨识文件：</label>
                                <div class="col-xs-6 input-group">
                                    <div class="btn btn-upload" id="quarterUpload">上传</div>
                                    <div id="quarterUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险复测单：</label>
                                <div class="col-xs-6 input-group">
                                    <div class="btn btn-upload" id="listUpload">上传</div>
                                    <div id="listUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险控制卡：</label>
                                <div class="col-xs-6 input-group">
                                    <div class="btn btn-upload" id="cardUpload">上传</div>
                                    <div id="cardUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">施工作业票：</label>
                                <div class="col-xs-6 input-group">
                                    <div class="btn btn-upload" id="ticketUpload">上传</div>
                                    <div id="ticketUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12 col-lg-12"  style="text-align: center;margin-top: 10px">
                                <button class="btn btn-primary" type="submit" id="save"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="view_modal" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12" style="background-color:#fff;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5>文件上传</h5>
                </div>
                <input type="text" name="uid" id="id1" style="display: none;" value="">
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="memberAdd" id="viewForm" method="post">
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">标段：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="viewSegmentv"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">部位：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="viewPosition"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">作业内容：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="view_job_content"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-xs-offset-0">风险因素：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="view_risk_factor"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label"><span>存在的风险：</span><br /><span>(风险名称)</span></label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="viewRiskname"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险等级：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="view_risk_grade"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">开工时间：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="view_on_stream_time"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">完工时间：</label>
                                <div class="col-xs-6 col-sm-6 input-group">
                                    <p class="form-control-static" id="view_completion_time"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">施工单位责任人：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="viewConstruction_user"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">联系电话：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="view_c_iphone"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">监理单位责任人：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="view_supervision_user"></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">联系电话：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="view_s_iphone"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-2 col-sm-4 control-label">预控措施：</label>
                                <div class="col-xs-6 input-group">
                                    <p class="form-control-static" id="viewMeasures"></p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">年度风险辨识文件：</label>
                                <div class="col-xs-6 input-group">
                                    <div id="viewYearUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                    <button type="button" class="preview btn" fileType="1">预览</button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">季度风险辨识文件：</label>
                                <div class="col-xs-6 input-group">
                                    <div id="viewQuarterUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                    <button type="button" class="preview btn" fileType="2">预览</button>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险复测单：</label>
                                <div class="col-xs-6 input-group">
                                    <div id="viewListUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                    <button type="button" class="preview btn" fileType="3">预览</button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">风险控制卡：</label>
                                <div class="col-xs-6 input-group">
                                    <div id="viewCardUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                    <button type="button" class="preview btn" fileType="4">预览</button>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-3 col-sm-4 control-label">施工作业票：</label>
                                <div class="col-xs-6 input-group">
                                    <div id="viewTicketUploadList" style="display: inline-block;vertical-align: middle;"></div>
                                    <button type="button" class="preview btn" fileType="5">预览</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form_container" style="display: none;"></div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.buttons.min.js"></script>
<script src="__JS__/jszip.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/pdf.js"></script>
<script src="__JS__/mypdf.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
</body>
</html>


<script>
    //日期插件
    $('#on_stream_time').jeDate();
    $('#completion_time').jeDate();
    //表格
    var tableItem = $('#tableItem').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "__SCRIPT__/safety_riskmanage.php"
        },
        dom: '<"myl"l>f<"#exportExcel.exportExcel btn btn-outline btn-primary"><"#export.export btn btn-outline btn-primary"><"#import.import btn btn-outline btn-primary"><"#add.add btn btn-outline btn-primary">rtip',
        columnDefs: [
            {
                searchable: false,
                targets:0,
                data:null,
                render:function () {
                    var ipt = "<input type='checkbox' name='checkList' onclick='getSelectId(this)'>";
                    return ipt;
                }
            },
            {
                "searchable": false,
                "orderable": false,
                "targets": [11],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-success btn-outline btn-xs' style='margin-left: 5px;' onclick='showData(this)' value='预览'/>" ;
                    html += "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='zedit(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            },
        ],
        language: {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "search":"搜索：",
            "paginate": {
                "first": "第一页",
                "last": "最后一页",
                "previous": "上一页",
                "next": "下一页"
            }
        }
    });

    $('#add').html('新增');
    $('#export').html('导出');
    $('#import').html('导入');
    $('#exportExcel').html('导出Excel模板');

    //禁止全选排序
    $("thead tr th:first-child").unbind();

    //删除数据
    function del(that){
        var id = $(that).parent("td").parent("tr").children("td:eq('1')").text();
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: "{:url('Riskmanage/manageDel')}",
                data: {
                    major_key : id
                },
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        tableItem.ajax.url("__SCRIPT__/safety_riskmanage.php?id="+id).load();
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }

    //删除数组中的指定元素
    Array.prototype.remove = function(val){
        for (var i = 0; i < this.length; i++) {
            if(this[i] === val){
                this.splice(i,1);
                break;
            }
        }
        return this;
    }

    //数组去重
    Array.prototype.removalArray = function(){
        var newArr = [];
        for (var i = 0; i < this.length; i++) {
            if(newArr.indexOf(this[i]) == -1){  //indexOf 不兼容IE8及以下
                newArr.push(this[i]);
            }
        }
        return newArr;
    }

    //获取选中行ID
    var idArr = [];
    function getId(that) {
        var isChecked = $(that).prop('checked');
        var id = $(that).parents('tr').find('td:eq(1)').text();
        if(isChecked){
            idArr.push(id);
            idArr.removalArray();
            $('#all_checked').prop('checked',true);
        }else{
            idArr.remove(id);
            idArr.removalArray();
            $('#all_checked').prop('checked',false);
        }
    }

    //单选
    function getSelectId(that) {
        getId(that);
        delCheckedAllTips();
        console.log(idArr);
    }

    //checkbox全选
    $("#all_checked").on("click", function () {
        if ($(this).prop("checked") === true) {
            $("input[name='checkList']").prop("checked", $(this).prop("checked"));
            $('#tableItem tbody tr').addClass('selected');
            $('input[name="checkList"]').each(function(){
                getId(this);
            });
            addCheckedAllTips('勾选"收件箱"中全部 1119 封邮件');
        } else {
            $("input[name='checkList']").prop("checked", false);
            $('#tableItem tbody tr').removeClass('selected');
            $('input[name="checkList"]').each(function(){
                getId(this);
            });
            delCheckedAllTips();
        }
        console.log(idArr);
    });

    //勾选表全部数据
    function checkedAlls(that) {
        var state = $(that).attr('state');
        if(state!=='false'){
            $(that).html('勾选"收件箱"中全部 1119 封邮件');
            $(that).attr('state',false);
            tableItem.on('draw',function () {
                $('input[type="checkbox"][name="checkList"]').prop("checked",false);
                delCheckedAllTips();
            })
            return false;
        }else{
            $(that).html('取消勾选');
            $(that).attr('state',true);
            //翻页事件
            tableItem.on('draw',function () {
                $('input[type="checkbox"][name="checkList"]').prop("checked",true);
                addCheckedAllTips('取消勾选');
            });
        }
    }

    //插入全选提示
    function addCheckedAllTips(msg) {
        if($('.graytip').length>0){
            return false;
        }
        var trDom = '<tr class="graytip">' +
            '<td colspan="11" class="div_mail_info">已勾选本页 50 封邮件，' +
            '<a onclick="checkedAlls(this)" state="false">'+msg+'</a>' +
            '</td>' +
            '</tr>';
        $('#tableItem tbody').prepend(trDom);
    }

    //删除全选提示
    function delCheckedAllTips() {
        $('.graytip').remove();
    }

    //打开新增弹层
    $('.add').on('click',function(){
        $('#addRules_modal').modal('show');
    });

    //关闭新增弹层
    $('#addRules_modal').on('hide.bs.modal', function () {
        validator.resetForm();//重置form表单
        $('#yearUploadList').empty();
        $('#quarterUploadList').empty();
        $('#listUploadList').empty();
        $('#cardUploadList').empty();
        $('#ticketUploadList').empty();
    });


    var param = {};
    //表单验证提交
    var validator = $("#memberAdd").validate({
        submitHandler: function(form) {
            //获取表单数据
            var major_key = $('input[type="hidden"][name="major_key"]').val();
            var segmentv = $('#segmentv').val();
            var position = $('#position').val();
            var job_content = $('#job_content').val();
            var risk_factor = $('#risk_factor').val();
            var riskname = $('#riskname').val();
            var risk_grade = $('#risk_grade').val();
            var on_stream_time = $('#on_stream_time').val();
            var completion_time = $('#completion_time').val();
            var construction_user = $('#construction_user').val();
            var c_iphone = $('#c_iphone').val();
            var supervision_user = $('#supervision_user').val();
            var s_iphone = $('#s_iphone').val();
            var measures = $('#measures').val();
            //表单提交
            $(form).ajaxSubmit({
                url: "{:url('Riskmanage/manageAddOrEdit')}",
                type: "post",
                dataType: 'json',
                data:{
                    major_key:major_key,
                    segmentv:segmentv,
                    position:position,
                    job_content:job_content,
                    risk_factor:risk_factor,
                    riskname:riskname,
                    risk_grade:risk_grade,
                    on_stream_time:on_stream_time,
                    completion_time:completion_time,
                    construction_user:construction_user,
                    c_iphone:c_iphone,
                    supervision_user:supervision_user,
                    s_iphone:s_iphone,
                    measures:measures,
                    year_filename:param.year_filename,
                    year_path:param.year_path,
                    quarter_filename:param.quarter_filename,
                    quarter_path:param.quarter_path,
                    sheet_filename:param.sheet_filename,
                    sheet_path:param.sheet_path,
                    card_filename:param.card_filename,
                    card_path:param.card_path,
                    work_filename:param.work_filename,
                    work_path:param.work_path,
                },
                success: complete
            });
        },
        rules: {
            segmentv: "required",
            position: "required",
            job_content: "required",
            risk_factor: "required",
            riskname: "required",
            risk_grade: "required",
            on_stream_time: "required",
            completion_time: "required",
            construction_user: "required",
            c_iphone: "required",
            supervision_user: "required",
            s_iphone: "required",
            measures: "required",
        },
        messages: {
            segmentv: "不能为空",
            position: "不能为空",
            job_content: "不能为空",
            risk_factor: "不能为空",
            riskname: "不能为空",
            risk_grade: "不能为空",
            on_stream_time: "不能为空",
            completion_time: "不能为空",
            construction_user: "不能为空",
            c_iphone: "不能为空",
            supervision_user: "不能为空",
            s_iphone: "不能为空",
            measures: "不能为空",
        }
    });

    //编辑
    function zedit(that) {
        $('#addRules_modal').modal('show');
        var major_key = $(that).parents('tr').find('td:eq(1)').text();
        $('input[type="hidden"][name="major_key"]').val(major_key);
        $.ajax({
            url: "{:url('Riskmanage/index')}",
            type: "post",
            dataType: "json",
            data:{
                major_key:major_key
            },
            success: function (res) {
                if(res.evaluation=='过期'){
                    res.evaluation=-1;
                }else if(res.evaluation=='适用'){
                    res.evaluation=0;
                }

                $('#segmentv').val(res.segmentv);
                $('#position').val(res.position);
                $('#job_content').val(res.job_content);
                $('#risk_factor').val(res.risk_factor);
                $('#riskname').val(res.riskname);
                $('#risk_grade').val(res.risk_grade);
                $('#on_stream_time').val(res.on_stream_time);
                $('#completion_time').val(res.completion_time);
                $('#construction_user').val(res.construction_user);
                $('#c_iphone').val(res.c_iphone);
                $('#supervision_user').val(res.supervision_user);
                $('#s_iphone').val(res.s_iphone);
                $('#measures').val(res.measures);

                var fileNameArr = [res.year_filename,res.quarter_filename,res.sheet_filename,res.card_filename,res.work_filename];
                var parentDomArr = ['yearUploadList','quarterUploadList','listUploadList','cardUploadList','ticketUploadList'];
                var delBtn = ['yearEditDelbtn','quarterEditDelbtn','listEditDelbtn','cardEditDelbtn','ticketEditDelbtn'];
                editList(fileNameArr,parentDomArr,delBtn);
            }
        })
    }

    //编辑预览文件名称
    function editList(fileNameArr,parentDomArr,delBtn) {
        var fileList = [];
        var btnArr = [];
        for (var i=0;i<fileNameArr.length;i++){
            fileList.push('<span class="info">' + fileNameArr[i]);
        }
        for (var k = 0; k < delBtn.length;k++){
            btnArr.push('<span class="'+delBtn[k]+'" type="'+(k+1)+'" onclick="delEditFile(this)" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>');
        }
        console.log(fileList);
        for(var j = 0;j<parentDomArr.length;j++){
            $('#'+parentDomArr[j]).append(fileList[j],btnArr[j]);
        }
    }

    //编辑时删除已上传的文件
    function delEditFile(that) {
        var delBtn = $(that).attr('class');
        var parentDom = $(that).parent().attr('id');
        $("#"+parentDom).bind("click",delBtn, function () {
            var fileName = $(that).prev().text();
            var fileType = $(that).attr('type');
            var id = $('input[type="hidden"][name="major_key"]').val();
            layer.confirm('警告！确定永久删除'+ fileName +'文件?',{
                btn:['确定','取消'],
                icon:3
            },function(){
                $.ajax({
                    url:'{:url("Riskmanage/delEditFile")}',
                    dataType:'JSON',
                    type:'POST',
                    data:{
                        major_key:id,
                        type:fileType
                    },
                    success:function(){
                        layer.msg('删除成功！', {icon: 1});
                        console.log(parentDom);
                        $("#"+parentDom).empty();
                    }
                });
            });
        });
    }

    //预览表格数据
    function showData(that) {
        $('#view_modal').modal('show');
        var id = $(that).parent("td").parent("tr").children("td:eq('1')").text();
        $('input[type="hidden"][name="fileId"]').val(id);
        $.ajax({
            url: "{:url('Riskmanage/index')}",
            type: "post",
            dataType: "json",
            data:{
                major_key:id
            },
            success: function (res) {
                $('#viewSegmentv').html(res.segmentv);
                $('#viewPosition').html(res.position);
                $('#view_job_content').html(res.job_content);
                $('#view_risk_factor').html(res.risk_factor);
                $('#viewRiskname').html(res.riskname);
                $('#view_risk_grade').html(res.risk_grade);
                $('#view_on_stream_time').html(res.on_stream_time);
                $('#view_completion_time').html(res.completion_time);
                $('#viewConstruction_user').html(res.construction_user);
                $('#view_c_iphone').html(res.c_iphone);
                $('#view_supervision_user').html(res.supervision_user);
                $('#view_s_iphone').html(res.s_iphone);
                $('#viewMeasures').html(res.measures);

                var fileNameArr = [res.year_filename,res.card_filename,res.quarter_filename,res.sheet_filename,res.work_filename];
                var parentDomArr = ['viewYearUploadList','viewQuarterUploadList','viewListUploadList','viewCardUploadList','viewTicketUploadList']
                viewFileName(fileNameArr,parentDomArr);
            }
        });
    }

    //预览文件方法
    function showPdf(fileId,fileType,url) {
        $.ajax({
            url: url,
            type: "post",
            data: {
                major_key:fileId,
                type:fileType
            },
            success: function (res) {
                console.log(res);
                if(res.code === 1){
                    var path = res.path;
                    window.open("__JS__/web/viewer.html?file=" + path,"_blank");
                }else {
                    layer.msg(res.msg);
                }
            }
        });
    }

    //预览文件事件
    $('.preview').click(function(){
        var fileId = $('input[type="hidden"][name="fileId"]').val();
        var fileType = $(this).attr('fileType');
        showPdf(fileId,fileType,"{:url('Riskmanage/managePreview')}");
    });

    //预览文件名称
    function viewFileName(fileNameArr,parentDomArr) {
        var newFileNameArr = [];
        for (var i=0;i<fileNameArr.length;i++){
            newFileNameArr.push(fileNameArr[i]);
        }
        for(var j = 0;j<parentDomArr.length;j++){
            $('#'+parentDomArr[j]).append(newFileNameArr[j]);
        }
    }

    //关闭预览弹层
    $('#view_modal').on('hide.bs.modal', function () {
        $('input[type="hidden"][name="fileId"]').val('');
        var parentDomArr = ['viewYearUploadList','viewQuarterUploadList','viewListUploadList','viewCardUploadList','viewTicketUploadList']
        for(var i = 0;i < parentDomArr.length;i++){
            $('#'+parentDomArr[i]).empty();
        }
    });

    //导入
    var importExcel = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Riskmanage/importExcel')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#import",
            innerHTML: "导入"
        },
        formData:{
            group_id:'',
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false

    });

    importExcel.on( 'uploadSuccess', function( file ,res) {
        layer.alert('导入成功');
        complete(res);
    });

    importExcel.on( 'uploadError', function( file ) {
        layer.alert('导入出错');
    });

    //导出excel
    $("#export").click(function () {
        $.ajax({
            url: "./exportExcel",
            type: "post",
            data: {
                'majorKeyArr':idArr
            },
            dataType: "json",
            success: function (res) {
                if(res.code ==1){
                    $("#form_container").empty();
                    var str = '<iframe name="exportExcelFrame" style="display:none;"></iframe>'
                        +'<form action="./exportExcel" method="get" target="exportExcelFrame">';
                    for (var i = 0; i < idArr.length; i++)
                    {
                        str += '<input style="display: none;" name="majorKeyArr[]" value="'+ idArr[i] +'">';
                    }
                    str += '<button type="submit" id="exportExcelBtn"></button></form>';
                    $("#form_container").append(str);
                    $("#form_container").find("#exportExcelBtn").click();
                }else{
                    alert("获取数据失败！")
                }
            }
        })
    });

    //导出excel模板
    $("#exportExcel").click(function () {
        $.ajax({
            url: "./exportExcelTemplete",
            type: "post",
            data: {
                'majorKeyArr':idArr
            },
            dataType: "json",
            success: function (res) {
                if(res.code ==1){
                    $("#form_container").empty();
                    var str = '<iframe name="exportExcelFrame" style="display:none;"></iframe>'
                        +'<form action="./exportExcelTemplete" method="get" target="exportExcelFrame">';
                    for (var i = 0; i < idArr.length; i++)
                    {
                        str += '<input style="display: none;" name="majorKeyArr[]" value="'+ idArr[i] +'">';
                    }
                    str += '<button type="submit" id="exportExcelBtn"></button></form>';
                    $("#form_container").append(str);
                    $("#form_container").find("#exportExcelBtn").click();
                }else{
                    alert("获取数据失败！")
                }
            }
        })
    });

    //数据返回
    function complete(data){
        var groupid = $('input[type="hidden"][name="groupId"]').val();
        console.log(data);
        if(data.code==1){
            layer.msg(data.msg);
            tableItem.ajax.url("__SCRIPT__/safety_riskmanage.php").load();
            $("#addRules_modal").modal('hide');
        }else{
            layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
            return false;
        }
    }

    /**
     * 年度风险辨识文件
     */
    var yearUpload = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Upload/uploadEdu')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#yearUpload",
            innerHTML: "上传"
        },
        formData:{
            pid:'',
            zid:''
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });

    yearUpload.on( 'uploadSuccess', function( file ,res) {
        param.year_filename = res.data.filename;
        param.year_path = res.data.path;
        uploadList(file ,res ,'yearUploadList' ,'yearDelbtn');
        delFile(res,'yearDelbtn' ,'yearUploadList');
    });

    yearUpload.on("uploadStart",function () {
        yearUpload.options.formData.pid = $('input[type="hidden"][name="groupId"]').val();
        yearUpload.options.formData.zid = $('input[type="hidden"][name="zid"]').val();
    });

    /**
     * 季度风险辨识文件
     */
    var quarterUpload = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Upload/uploadEdu')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#quarterUpload",
            innerHTML: "上传"
        },
        formData:{
            pid:'',
            zid:''
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });

    quarterUpload.on( 'uploadSuccess', function( file ,res) {
        param.quarter_filename = res.data.filename;
        param.quarter_path = res.data.path;
        uploadList(file ,res ,'quarterUploadList' ,'quarterDelbtn');
        delFile(res,'quarterDelbtn' ,'quarterUploadList');
    });

    quarterUpload.on("uploadStart",function () {
        quarterUpload.options.formData.pid = $('input[type="hidden"][name="groupId"]').val();
        quarterUpload.options.formData.zid = $('input[type="hidden"][name="zid"]').val();
    });

    /**
     * 风险复测单
     */
    var listUpload = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Upload/uploadEdu')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#listUpload",
            innerHTML: "上传"
        },
        formData:{
            pid:'',
            zid:''
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });

    listUpload.on( 'uploadSuccess', function( file ,res) {
        param.sheet_filename = res.data.filename;
        param.sheet_path = res.data.path;
        uploadList(file ,res ,'listUploadList' ,'listDelbtn');
        delFile(res,'listDelbtn' ,'listUploadList');
    });

    listUpload.on("uploadStart",function () {
        listUpload.options.formData.pid = $('input[type="hidden"][name="groupId"]').val();
        listUpload.options.formData.zid = $('input[type="hidden"][name="zid"]').val();
    });

    /**
     * 风险控制卡
     */
    var cardUpload = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Upload/uploadEdu')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#cardUpload",
            innerHTML: "上传"
        },
        formData:{
            pid:'',
            zid:''
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });

    cardUpload.on( 'uploadSuccess', function( file ,res) {
        param.card_filename = res.data.filename;
        param.card_path = res.data.path;
        uploadList(file ,res ,'cardUploadList' ,'cardDelbtn');
        delFile(res,'cardDelbtn' ,'cardUploadList');
    });

    cardUpload.on("uploadStart",function () {
        cardUpload.options.formData.pid = $('input[type="hidden"][name="groupId"]').val();
        cardUpload.options.formData.zid = $('input[type="hidden"][name="zid"]').val();
    });

    /**
     * 施工作业票
     */
    var ticketUpload = WebUploader.create({
        auto: true,
        // swf文件路径
        swf:  '/static/admin/js/webupload/Uploader.swf',

        // 文件接收服务端。
        server: "{:url('Upload/uploadEdu')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: "#ticketUpload",
            innerHTML: "上传"
        },
        formData:{
            pid:'',
            zid:''
        },
        accept: {
            title: 'excel',
            extensions: 'xls,xlsx',
            mimeTypes: '.xls,.xlsx'
        },

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });

    ticketUpload.on( 'uploadSuccess', function( file ,res) {
        param.work_filename = res.data.filename;
        param.work_path = res.data.path;
        console.log(param);
        uploadList(file ,res ,'ticketUploadList' ,'ticketDelbtn');
        delFile(res,'ticketDelbtn' ,'ticketUploadList');
    });

    ticketUpload.on("uploadStart",function () {
        ticketUpload.options.formData.pid = $('input[type="hidden"][name="groupId"]').val();
        ticketUpload.options.formData.zid = $('input[type="hidden"][name="zid"]').val();
    });

    //上传文件列表
    function uploadList(file ,res ,pEm ,delBtn) {
        var fileList = '<div style="display: inline-block;vertical-align: middle;" class="' + file.id + '">' +
            '<span class="info">' + file.name + '</span>&nbsp' +
            '<span class="'+delBtn+'" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>' +
            '</div>';
        $('#'+pEm).append(fileList);
    }

    //新增时删除已上传的文件
    function delFile(res,em,pEm) {
        var path = res.data.path;
        $("#"+pEm).on("click", "."+em, function () {
            layer.confirm('警告！确定删除'+res.data.filename+'文件?',{
                btn:['确定','取消'],
                icon:3
            },function(){
                $.ajax({
                    url:'{:url("Riskmanage/delAddFile")}',
                    dataType:'JSON',
                    type:'POST',
                    data:{
                        path:path,
                    },
                    success:function(){
                        layer.msg('删除成功！', {icon: 1});
                        $("#"+pEm).empty();
                    }
                });
            });
        });
    }

</script>
