<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
{include file="public/header" /}
<style>
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
</style>
<body class="gray-bg" style="background-color:#fff;">
<div id="mycontent" style="width: 20%;height: 98%;display: inline-block;margin: 0 10px;background-color:#fff;overflow-x: scroll;padding-top: 20px;padding-right:10px;border-right: 1px solid #ccc;">
    <div style="text-align: center;background-color:#1ab394;line-height: 30px;color: #fff;">工程划分</div>
    <div id="tree_container" class="ztree"></div>
    <p style="display: none;"></p>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 78%;vertical-align: top;padding: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div id="path">当前路径:</div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div id="content">
                                <div id="container">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="#excavation_engineering">开挖工程</a></li>
                                        <li><a href="#support_engineering">支护工程</a></li>
                                        <li><a href="#concrete_engineering">混凝土工程</a></li>
                                        <li><a href="#drainage_engineering">排水孔</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="excavation_engineering">
                                            <div class="myheader">
                                                <div id="excavation">
                                                   <div class="row" style="padding-top: 20px">
                                                       <div class="col-xs-12">
                                                           <div id="mainBar" style="height:400px;" class="main"></div>
                                                       </div>
                                                       <div class="col-xs-12">
                                                           <div id="mainLine" style="height:400px;" class="main"></div>
                                                       </div>
                                                       <div class="col-xs-12">
                                                           <div id="mainPie" style="height:400px;" class="main"></div>
                                                       </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="support_engineering">
                                            <div class="myheader">
                                                <div id="support">
                                                    支护工程
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="concrete_engineering">
                                            <div class="myheader">
                                                <div id="concrete">
                                                    混凝土
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="drainage_engineering">
                                            <div class="drainage">
                                                排水孔
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/plugins/echarts/echarts-all.js"></script>
<script src="__JS__/pdf.js"></script>
<script src="__JS__/mypdf.js"></script>
</body>
<script>
    //组织结构
    var zTreeObj;
    function change1(that) {
        var val = $(that).val();
        var id = mytree_node.id;
        console.log(val,id);
        $.ajax({
            url: "./level3Quality",
            type: "post",
            data: {id:id,accident:val},
            dataType: "json",
            success: function (res) {
                if(res.code === 1){
                    $("#accident").text(res.level);
                }else{
                    layer.msg(res.msg);
                }
            }
        })
    }
    function change2(that) {
        var val = $(that).val();
        var id = mytree_node.id;
        $.ajax({
            url: "./changePrimary",
            type: "post",
            data: {id:id,primary:val}
        })
    }
    function change3(that) {
        var val = $(that).val();
        var id = mytree_node.id;
        $.ajax({
            url: "./level2Quality",
            type: "post",
            data: {id:id,accident:val},
            dataType: "json",
            success: function (res) {
                if(res.code === 1){
                    $("#accdient2").text(res.level);
                }else{
                    layer.msg(res.msg);
                }

            }
        })
    }
    function count(that) {
        var val1 = $(that).siblings("#g1").children("input").val();
        var val2 = $(that).siblings("#g2").children("input").val();
        var result = Math.floor(val2/val1*1000)/10;
        console.log(result)
        $(that).siblings("#g3").children("input").val(result);
        $.ajax({
            url: "./level2Quality",
            type: "post",
            data: {id:mytree_node.id,score_design:val1,score_actual:val2,score:result},
            dataType: "json",
            success: function (res) {
                if(res.code === 1){
                    $("#accdient2").text(res.level);
                }else{
                    layer.msg(res.msg);
                }
            }
        })
    }

    //点击获取节点名称
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        $("#table_info").css("visibility","visible");
        mytree_node = treeNode;
        $("#groupname").val(treeNode.name);
        $("#mycontent>p").text(treeNode.name);
        $("#groupid").val(treeNode.id);
        var cate = encodeURI(encodeURI(treeNode.cate));
        $("#level2").css("display","none");
        $("#level3").css("display","none");
        $("#level5").css("display","none");
        if(treeNode.level == 4){
            var groupid = treeNode.uid;
            $("#level5").css("display","block");
            $.ajax({
                url: "./fetchData",
                type: "post",
                data: {uid:groupid,cate:cate},
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if(res.code == 1){
                        var data = res.projectData;
                        $("#input1").val(data.name);
                        $("#input2").val(data.sn + data.post_sn);
                        $("#input3").val(data.zhuanghaoqi);
                        $("#input4").val(data.zhuanghaozhi);
                        $("#input5").val(data.gaochengqi);
                        $("#input6").val(data.gaochengzhi);
                        $("#input7").val(data.primary);
                        $("#container form").css("display","none");
                        if(data.cate == "开挖"){
                            $("#uid1").val(groupid);
                            $("#cate1").val(data.cate);
                            $("#model1").css("display","block");
                            if(res.kaiwaData){
                                var kdata = res.kaiwaData;
                                $("#edit1").val("edit");
                                $("#pass").val(kdata.pass);
                                $("#quality_level").val(kdata.quality_level);
                                $("#evaluated_date").val(kdata.evaluated_date);
                                $("#evaluated_by").val(kdata.evaluated_by);
                                $("#holes").val(kdata.holes);
                                $("#ave_size").val(kdata.ave_size);
                                $("#ave_length").val(kdata.ave_length);
                                $("#half_percentage").val(kdata.half_percentage);
                                $("#holes_test_date").val(kdata.holes_test_date);
                                $("#sections").val(kdata.sections);
                                $("#points").val(kdata.points);
                                $("#max").val(kdata.max);
                                $("#min").val(kdata.min);
                                $("#ave").val(kdata.ave);
                                $("#sections_test_date").val(kdata.sections_test_date);
                                $("#sections_overbreak").val(kdata.sections_overbreak);
                                $("#points_overbreak").val(kdata.points_overbreak);
                                $("#max_overbreak").val(kdata.max_overbreak);
                                $("#min_overbreak").val(kdata.min_overbreak);
                                $("#ave_overbreak").val(kdata.ave_overbreak);
                                $("#pass_overbreak").val(kdata.pass_overbreak);
                                $("#sections_underbreak").val(kdata.sections_underbreak);
                                $("#points_underbreak").val(kdata.points_underbreak);
                                $("#max_underbreak").val(kdata.max_underbreak);
                                $("#min_underbreak").val(kdata.min_underbreak);
                                $("#ave_underbreak").val(kdata.ave_underbreak);
                                $("#pass_underbreak").val(kdata.pass_underbreak);
                            }else {
                                $("#edit1").val("");
                            }
                        }else if(data.cate == "支护"){
                            $("#uid2").val(groupid);
                            $("#uid4").val(groupid);
                            $("#cate2").val(data.cate);
                            $("#model2").css("display","block");
                            if(res.zhihuData){
                                var kdata = res.zhihuData;
                                $("#edit2").val("edit");
                                $("#pass2").val(kdata.pass);
                                $("#quality_level2").val(kdata.quality_level);
                                $("#evaluated_date2").val(kdata.evaluated_date);
                                $("#evaluated_by2").val(kdata.evaluated_by);
                                $("#area2").val(kdata.area);
                                $("#thickness2").val(kdata.thickness);
                                $("#points2").val(kdata.points);
                                $("#max2").val(kdata.max);
                                $("#min2").val(kdata.min);
                                $("#ave2").val(kdata.ave);
                                $("#points2").val(kdata.points);
                                $("#max2").val(kdata.max);
                                $("#min2").val(kdata.min);
                                $("#ave2").val(kdata.ave);
                                $("#quantity_self2").val(kdata.quantity_self);
                                $("#num_self2").val(kdata.num_self);
                                $("#ratio_self2").val(kdata.ratio_self);
                                $("#pass_self2").val(kdata.pass_self);
                                $("#anchor_max_self2").val(kdata.anchor_max_self);
                                $("#anchor_min_self2").val(kdata.anchor_min_self);
                                $("#casting_max_self2").val(kdata.casting_max_self);
                                $("#casting_min_self2").val(kdata.casting_min_self);
                                $("#pass_rate_self2").val(kdata.pass_rate_self);
                                $("#quantity_inspection2").val(kdata.quantity_inspection);
                                $("#num_inspection2").val(kdata.num_inspection);
                                $("#ratio_inspection2").val(kdata.ratio_inspection);
                                $("#pass_inspection2").val(kdata.pass_inspection);
                                $("#anchor_max_inspection2").val(kdata.anchor_max_inspection);
                                $("#anchor_min_inspection2").val(kdata.anchor_min_inspection);
                                $("#casting_max_inspection2").val(kdata.casting_max_inspection);
                                $("#casting_min_inspection2").val(kdata.casting_min_inspection);
                                $("#pass_rate_inspection2").val(kdata.pass_rate_inspection);
                            }else {
                                $("#edit2").val("");
                            }
                        }else if(data.cate == "混凝土"){
                            $("#uid3").val(groupid);
                            $("#cate3").val(data.cate);
                            $("#model3").css("display","block");
                            if(res.hunningtuData){
                                var kdata = res.hunningtuData;
                                $("#edit3").val("edit");
                                $("#pass3").val(kdata.pass);
                                $("#quality_level3").val(kdata.quality_level);
                                $("#evaluated_date3").val(kdata.evaluated_date);
                                $("#evaluated_by3").val(kdata.evaluated_by);
                                $("#requirement_self").val(kdata.requirement_self);
                                $("#volume_self").val(kdata.volume_self);
                                $("#num_self").val(kdata.num_self);
                                $("#max_self").val(kdata.max_self);
                                $("#min_self").val(kdata.min_self);
                                $("#ave_self").val(kdata.ave_self);
                                $("#pass_self").val(kdata.pass_self);
                                $("#requirement_inspection").val(kdata.requirement_inspection);
                                $("#volume_inspection").val(kdata.volume_inspection);
                                $("#num_inspection").val(kdata.num_inspection);
                                $("#max_inspection").val(kdata.max_inspection);
                                $("#min_inspection").val(kdata.min_inspection);
                                $("#ave_inspection").val(kdata.ave_inspection);
                                $("#pass_inspection").val(kdata.pass_inspection);
                                $("#points_flat").val(kdata.points_flat);
                                $("#deviation_min_flat").val(kdata.deviation_min_flat);
                                $("#deviation_max_flat").val(kdata.deviation_max_flat);
                                $("#pass_flat").val(kdata.pass_flat);
                                $("#points_vertical").val(kdata.points_vertical);
                                $("#deviation_min_vertical").val(kdata.deviation_min_vertical);
                                $("#deviation_max_vertical").val(kdata.deviation_max_vertical);
                                $("#pass_vertical").val(kdata.pass_vertical);
                                $("#allowable_deviation").val(kdata.allowable_deviation);
                                $("#points_union").val(kdata.points_union);
                                $("#max_union").val(kdata.max_union);
                                $("#min_union").val(kdata.min_union);
                                $("#ave_union").val(kdata.ave_union);
                                $("#pass_union").val(kdata.pass_union);
                            }else {
                                $("#edit3").val("");
                            }
                        }
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
            //获取路径
            $.ajax({
                url: "./getParents",
                type: "post",
                data: {uid:groupid},
                dataType: "json",
                success: function (res) {
                    idlist = res.idList;
                    $("#path").text("当前路径:" + res.path)
                }
            })
        }else if(treeNode.level == 2){
            $.ajax({
                url: "./level3Quality",
                type: "post",
                data: {id:treeNode.id},
                dataType: "json",
                success: function (res) {
                    if(res.code === 1){
                        $("#level3 tbody").empty();
                        console.log(res);
                        var len = res.column3.length;
                        $.each(res.column3,function (i,n) {
                            if(i < len - 2){
                                if(i === 0){
                                    var str = "";
                                    str += "<tr>"
                                        +  "<td>"+ (i+1) +"</td>"
                                        +  "<td>"+ res.column1[i] +"</td>"
                                        +  "<td>"+ res.column2[i] +"</td>"
                                        +  "<td>"+ res.column3[i] +"</td>"
                                        +  "<td>"+ res.column4[i] +"</td>"
                                        +  "<td>"+ res.column5[i] +"</td>"
                                        +  "<td style='font-weight: 700;font-size: 25px;' id='accident' rowspan="+ (len+1) +">"+ res.level +"</td>"
                                        +  "</tr>"
                                }else {
                                    var str = "";
                                    str += "<tr>"
                                        +  "<td>"+ (i+1) +"</td>"
                                        +  "<td>"+ res.column1[i] +"</td>"
                                        +  "<td>"+ res.column2[i] +"</td>"
                                        +  "<td>"+ res.column3[i] +"</td>"
                                        +  "<td>"+ res.column4[i] +"</td>"
                                        +  "<td>"+ res.column5[i] +"</td>"
                                        +  "</tr>"
                                }
                                $("#level3 tbody").append(str);
                            }else if(i === len - 2){
                                var str = "";
                                str += ""
                                    +  "<tr>"
                                    +  "<td colspan=\"2\">合计</td>"
                                    +  "<td>"+ res.column2[i] +"</td>"
                                    +  "<td>"+ res.column3[i] +"</td>"
                                    +  "<td>"+ res.column4[i] +"</td>"
                                    +  "<td>"+ res.column5[i] +"</td>"
                                    +  "</tr>"
                                $("#level3 tbody").append(str);
                            }else if(i === len - 1){
                                var str = "";
                                str += ""
                                    +  "<tr>"
                                    +  "<td colspan=\"2\">主要单元工程、重要隐藏工程及关键部位单元工程</td>"
                                    +  "<td>"+ res.column2[i] +"</td>"
                                    +  "<td>"+ res.column3[i] +"</td>"
                                    +  "<td>"+ res.column4[i] +"</td>"
                                    +  "<td>"+ res.column5[i] +"</td>"
                                    +  "</tr>"
                                $("#level3 tbody").append(str);
                            }
                        })
                        var str1 = "";
                        str1 += "<tr>"
                            +  "<td colspan=\"6\">"
                            +  "<span>是否发生质量事故</span>"
                            +  "<select onchange='change1(this)' id=\"sel1\" value=''>"
                            +  "<option value=\"是\">是</option>"
                            +  "<option value=\"否\">否</option>"
                            +  "</select>"
                            +  "</td>"
                            +  "</tr>"
                        $("#level3 tbody").append(str1);
                        var str2 = "";
                        str2 += "<tr>"
                            +  "<td colspan=\"2\" style=\"background-color: #bae2f3;font-weight: 700;\">主要分部工程</td>"
                            +  "<td colspan=\"5\">"
                            +  "<select onchange='change2(this)' id=\"sel2\" value=''>"
                            +  "<option value=\"是\">是</option>"
                            +  "<option value=\"否\">否</option>"
                            +  "</select>"
                            +  "</td>"
                            +  "</tr>"

                        $("#level3 tbody").append(str2);

                        $("#sel1").val(res.accident);
                        $("#sel2").val(res.primary);
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
            //获取路径
            $.ajax({
                url: "./getParents",
                type: "post",
                data: {id:treeNode.id},
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if(res.code === 1){
                        idlist = res.idList;
                        $("#path").text("当前路径:" + res.path);
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
            $("#level3").css("display","block");
        }else if(treeNode.level == 1){
            $.ajax({
                url: "./level2Quality",
                type: "post",
                data: {id:treeNode.id},
                dataType: "json",
                success: function (res) {
                    if(res.code === 1){
                        $("#level2 tbody").empty();
                        console.log(res);
                        var str = "";
                        str += ""
                            +  "<tr>"
                            +  "<td></td>"
                            +  "<td class='style1'>分部个数</td>"
                            +  "<td class='style1'>合格个数</td>"
                            +  "<td class='style1'>优良个数</td>"
                            +  "<td class='style1'>优良率</td>"
                            +  "</tr>"
                        $("#level2 tbody").append(str);
                        $.each(res.column1,function (i,n) {
                            var txt = "合计";
                            if(i === 1){
                                txt = "主要分部工程"
                            }
                            var str = "";
                            str += ""
                                +  "<tr>"
                                +  "<td>"+ txt +"</td>"
                                +  "<td>"+ res.column1[i] +"</td>"
                                +  "<td>"+ res.column2[i] +"</td>"
                                +  "<td>"+ res.column3[i] +"</td>"
                                +  "<td>"+ res.column4[i] +"</td>"
                                +  "</tr>"
                            $("#level2 tbody").append(str);
                        });
                        var str1 = "";
                        str1 += "<tr>"
                            +  "<td colspan=\"5\">"
                            +  "<span>是否发生质量事故</span>"
                            +  "<select onchange='change3(this)' id=\"sel3\" value=''>"
                            +  "<option value=\"是\">是</option>"
                            +  "<option value=\"否\">否</option>"
                            +  "</select>"
                            +  "</td>"
                            +  "</tr>"
                        $("#level2 tbody").append(str1);

                        var lstr = "";
                        lstr += "<tr>"
                            +  "<td colspan='2'>工程外观质量</td>"
                            +  "<td colspan='3'>"
                            +  "<div class='grade' id='g1'>"
                            +  "应得<input type='number'>分"
                            +  "</div>"
                            +  "<div class='grade' id='g2'>"
                            +  "实得<input type='number'>分"
                            +  "</div>"
                            +  "<button style='line-height: 16px;' onclick='count(this)'>开始计算</button>"
                            +  "<div class='grade' id='g3'>"
                            +  "得分率<input type='' readonly='readonly'>"
                            +  "</div>"
                            +  "</td>"
                            +  "</tr>"

                        $("#level2 tbody").append(lstr);

                        var len = res.name.length;

                        var str3 = "";
                        str3 += ""
                            +  "<tr>"
                            +  "<td class='style1'>项次</td>"
                            +  "<td class='style1'>分部工程名称</td>"
                            +  "<td class='style1'>质量等级</td>"
                            +  "<td class='style1' colspan='2'>单位工程质量等级</td>"
                            +  "</tr>"
                        $("#level2 tbody").append(str3);

                        $.each(res.name,function (i,n) {
                            if(i === 0){
                                var str = "";
                                str += "<tr>"
                                    +  "<td>"+ (i+1) +"</td>"
                                    +  "<td>"+ res.name[i] +"</td>"
                                    +  "<td>"+ res.quality[i] +"</td>"
                                    +  "<td style='font-weight: 700;font-size: 25px;' id='accdient2' colspan='2' rowspan="+ len +">"+ res.level +"</td>"
                                    +  "</tr>"
                            }else {
                                var str = "";
                                str += "<tr>"
                                    +  "<td>"+ (i+1) +"</td>"
                                    +  "<td>"+ res.name[i] +"</td>"
                                    +  "<td>"+ res.quality[i] +"</td>"
                                    +  "</tr>"
                            }
                            $("#level2 tbody").append(str);
                        })
                        $(".grade:first-child input").val(res.score[0]);
                        $(".grade:nth-child(2) input").val(res.score[1]);
                        $(".grade:nth-child(4) input").val(res.score[2]);
                        $("#sel3").val(res.accident);
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
            //获取路径
            $.ajax({
                url: "./getParents",
                type: "post",
                data: {id:treeNode.id},
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if(res.code === 1){
                        idlist = res.idList;
                        $("#path").text("当前路径:" + res.path);
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
            $("#level2").css("display","block");
        }else{
            //获取路径
            $.ajax({
                url: "./getParents",
                type: "post",
                data: {id:treeNode.id},
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if(res.code === 1){
                        idlist = res.idList;
                        $("#path").text("当前路径:" + res.path)
                    }else {
                        layer.msg(res.msg);
                    }
                }
            });
        }
        if(mytree_node.id){
            admin_table.ajax.url("__SCRIPT__/project_attachment_table.php?id=" + mytree_node.id + "&pid=" + mytree_node.pId).load();
        }else {
            admin_table.ajax.url("__SCRIPT__/project_attachment_table.php?id=" + mytree_node.uid + "&pid=" + mytree_node.pId).load();
        }
        // console.log(treeNode.name)
        // var kk = treeNode.name;
        // $.ajax({
        //     url: "__SCRIPT__/project_attachment_table.php",
        //     data: {uname:123},
        //     dataType: "json",
        //     success: function (res) {
        //         console.log(res);
        //     }
        // })
    };
    var setting = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./index",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };
    zTreeObj = $.fn.zTree.init($("#tree_container"), setting,null);
    //tab切换
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    // 基于准备好的dom，初始化echarts实例
    var myChartBar = echarts.init(document.getElementById('mainBar'));
    // 指定图表的配置项和数据
    optionBar = {
        title:{
            text:'质量验评趋势图'
        },
        tooltip: {
            trigger: 'axis',
        },
        legend:{
            data:['优良率（%）'],
        },
        xAxis: {
            type: 'category',
            axisLabel:{ //坐标轴刻度标签的相关设置。
                interval:0,// 强制显示所有标签
                rotate:30 //刻度标签旋转的角度，在类目轴的类目标签显示不下的时候可以通过旋转防止标签之间重叠。
            },
            data: ['2018年1月', '2018年2月', '2018年3月', '2018年4月', '2018年5月', '2018年6月', '2018年7月']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                show: true,
                interval: 'auto',
                formatter: '{value} %'//刻度标签的内容格式器，支持字符串模板和回调函数两种形式。
            },
            show: true
        },
        series: [
            {
                name:'优良率',
                data: [20, 30, 50, 60, 20, 100, 70],
                type: 'bar',
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{c}%'
                        }
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChartBar.setOption(optionBar);
    //折线图
    var myChartLine = echarts.init(document.getElementById('mainLine'));
    optionLine = {
        title:{
            text:'质量验评趋势图'
        },
        tooltip: {
            trigger: 'axis',
        },
        legend:{
            data:['优良率（%）'],
        },
        xAxis: {
            type: 'category',
            axisLabel:{ //坐标轴刻度标签的相关设置。
                interval:0,// 强制显示所有标签
                rotate:30 //刻度标签旋转的角度，在类目轴的类目标签显示不下的时候可以通过旋转防止标签之间重叠。
            },
            data: ['2018年1月', '2018年2月', '2018年3月', '2018年4月', '2018年5月', '2018年6月', '2018年7月']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                show: true,
                interval: 'auto',
                formatter: '{value} %'//刻度标签的内容格式器，支持字符串模板和回调函数两种形式。
            },
            show: true
        },
        series: [
            {
                name:'优良率',
                data: [20, 30, 50, 60, 20, 100, 70],
                type: 'line',
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{c}%'
                        }
                    }
                }
            }
        ]
    };
    myChartLine.setOption(optionLine);
    //pie图


</script>
</script>