<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
{include file="public/header" /}
<style>
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
    #myTable table>tr>th{
        text-align: center;
        font-size: 18px;
    }
    #support_engineering caption{
        text-indent: 5px;
        background-color: #bae2f3;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
    }
    #support_engineering table td,#concrete table td{
        font-size: 12px;
    }
    #support_engineering table td:hover,#concrete table td:hover{
        background-color: #e7eaec;
    }
    #support,#concrete{
        margin-top: 10px;
        padding: 5px;
        border: solid 1px #e7eaec;
    }
</style>
<body class="gray-bg" style="background-color:#fff;">
<div id="mycontent" style="width: 20%;height: 98%;display: inline-block;margin: 0 10px;background-color:#fff;overflow-x: scroll;padding-top: 20px;padding-right:10px;border-right: 1px solid #ccc;">
    <div style="text-align: center;background-color:#1ab394;line-height: 30px;color: #fff;">工程划分</div>
    <div id="tree_container" class="ztree"></div>
    <p style="display: none;"></p>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 78%;vertical-align: top;padding: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div id="path">当前路径:</div>
                <div class="ibox float-e-margins" id="content" style="visibility: hidden">
                    <div class="ibox-content">
                        <div class="row">
                            <div >
                                <div id="container">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="#excavation_engineering">开挖工程</a></li>
                                        <li><a href="#support_engineering">支护工程</a></li>
                                        <li><a href="#concrete_engineering">混凝土工程</a></li>
                                        <li><a href="#drainage_engineering">排水孔</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane  active" id="excavation_engineering">
                                            <div class="myheader">
                                                <div id="excavation">
                                                    <ul id="myTabB" class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#excavationA" data-toggle="tab">
                                                                开挖工程（明挖）
                                                            </a>
                                                        </li>
                                                        <li><a href="#excavationB" data-toggle="tab">开挖工程（洞挖）</a></li>

                                                    </ul>
                                                    <div id="myTabContentB" class="tab-content">
                                                        <!--开挖工程（明挖）-->
                                                        <div class="tab-pane fade in active" id="excavationA">
                                                            <div class="row" style="padding-top: 20px">
                                                                <!--最大值最小值平均值柱状图-->
                                                                <div class="col-xs-6">
                                                                    <div id="mainBar" style="height:400px;" class="main"></div>
                                                                </div>
                                                                <!--合格率柱状图-->
                                                                <div class="col-xs-6">
                                                                    <div id="mainLine" style="height:400px;" class="main"></div>
                                                                </div>
                                                                <!--监测点数柱状图-->
                                                                <div class="col-xs-6">
                                                                    <div id="mainPoint" style="height:400px;" class="main"></div>
                                                                </div>
                                                                <!--半孔率扇形图-->
                                                                <div class="col-xs-6">
                                                                    <div id="mainPie" style="height:400px;" class="main"></div>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="myTable">
                                                                <table class="table table-bordered table-hover">
                                                                    <caption>开挖数据分析</caption>
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>监测点数（个）</th>
                                                                        <th>最大值（cm）</th>
                                                                        <th>最小值（cm）</th>
                                                                        <th>平均值（cm）</th>
                                                                        <th>合格率（%）</th>
                                                                        <th>半孔率（%）</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>

                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!--开挖工程（洞挖）-->
                                                        <div class="tab-pane fade" id="excavationB">

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="support_engineering">
                                            <div class="myheader">
                                                <div id="support">
                                                    <ul id="myTabC" class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#hotcreteThickness" data-toggle="tab">
                                                                喷砼厚度
                                                            </a>
                                                        </li>
                                                        <li><a href="#hotcreteStrength" data-toggle="tab">喷砼强度</a></li>
                                                        <li><a href="#mortarStrength" data-toggle="tab">锚杆砂浆强度</a></li>
                                                        <li><a href="#nondestructiveTesting" data-toggle="tab">锚杆无损检测</a></li>
                                                        <li><a href="#pullTest" data-toggle="tab">锚杆拉拔试验</a></li>
                                                    </ul>
                                                    <div id="myTabContent" class="tab-content">
                                                        <!--喷砼厚度-->
                                                        <div class="tab-pane fade in active" id="hotcreteThickness">
                                                            <table class="table table-bordered">
                                                                <caption>喷砼厚度</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>支护面积（㎡）</td>
                                                                    <td>监测组数（个）</td>
                                                                    <td>最大值（cm）</td>
                                                                    <td>最小值（cm）</td>
                                                                    <td>平均值（cm）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>9</td>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--喷砼强度-->
                                                        <div class="tab-pane fade" id="hotcreteStrength">
                                                            <table class="table table-bordered" id="hotcreteStrengthS">
                                                                <caption>喷砼强度(施工单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>方量（m³）</td>
                                                                    <td>监测组数（个）</td>
                                                                    <td>设计等级</td>
                                                                    <td>最大值（Mpa）</td>
                                                                    <td>最小值（Mpa）</td>
                                                                    <td>平均值（Mpa）</td>
                                                                    <td>标准差（Mpa）</td>
                                                                    <td>保证率（%）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>9</td>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered" id="hotcreteStrengthM">
                                                                <caption >喷砼强度(监理单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>方量（m³）</td>
                                                                    <td>监测组数（个）</td>
                                                                    <td>设计等级</td>
                                                                    <td>最大值（Mpa）</td>
                                                                    <td>最小值（Mpa）</td>
                                                                    <td>平均值（Mpa）</td>
                                                                    <td>标准差（Mpa）</td>
                                                                    <td>保证率（%）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>9</td>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--锚杆砂浆强度-->
                                                        <div class="tab-pane fade" id="mortarStrength">
                                                            <table class="table table-bordered" id=" mortarStrengthS">
                                                                <caption>锚杆砂浆强度(施工单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>监测组数（个）</td>
                                                                    <td>设计等级</td>
                                                                    <td>最大值（Mpa）</td>
                                                                    <td>最小值（Mpa）</td>
                                                                    <td>平均值（Mpa）</td>
                                                                    <td>标准差（Mpa）</td>
                                                                    <td>保证率（%）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered" id=" mortarStrengthM">
                                                                <caption>锚杆砂浆强度(监理单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>监测组数（个）</td>
                                                                    <td>设计等级</td>
                                                                    <td>最大值（Mpa）</td>
                                                                    <td>最小值（Mpa）</td>
                                                                    <td>平均值（Mpa）</td>
                                                                    <td>标准差（Mpa）</td>
                                                                    <td>保证率（%）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--锚杆无损检测-->
                                                        <div class="tab-pane fade" id="nondestructiveTesting">
                                                            <table class="table table-bordered" id=" nondestructiveTestingS">
                                                                <caption>锚杆无损检测(施工单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>施工数量（个）</td>
                                                                    <td>抽检根数（个）</td>
                                                                    <td>检测比例（%）</td>
                                                                    <td>合格根数（个）</td>
                                                                    <td>锚杆型号-统计</td>
                                                                    <td>锚杆长度（m）最大</td>
                                                                    <td>锚杆长度（m）最小</td>
                                                                    <td>注浆密实度（%）最大</td>
                                                                    <td>注浆密实度（%）最小</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered" id=" nondestructiveTestingM">
                                                                <caption>锚杆无损检测(监理单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>施工数量（个）</td>
                                                                    <td>抽检根数（个）</td>
                                                                    <td>检测比例（%）</td>
                                                                    <td>合格根数（个）</td>
                                                                    <td>锚杆型号-统计</td>
                                                                    <td>锚杆长度（m）最大</td>
                                                                    <td>锚杆长度（m）最小</td>
                                                                    <td>注浆密实度（%）最大</td>
                                                                    <td>注浆密实度（%）最小</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>55</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                    <td>68</td>
                                                                    <td>65</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                        <!--拉拔试验-->
                                                        <div class="tab-pane fade" id="pullTest">
                                                            <table class="table table-bordered" id="pullTestS">
                                                                <caption>锚杆拉拔试验(施工单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>锚杆类型</td>
                                                                    <td>设计拉拔力（KN）</td>
                                                                    <td>检测个数（个）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>9</td>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered" id="pullTestM">
                                                                <caption>锚杆拉拔试验(监理单位)</caption>
                                                                <tbody>
                                                                <tr>
                                                                    <td>锚杆类型</td>
                                                                    <td>设计拉拔力（KN）</td>
                                                                    <td>检测个数（个）</td>
                                                                    <td>合格率（%）</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>9</td>
                                                                    <td>23</td>
                                                                    <td>65</td>
                                                                    <td>43</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="concrete_engineering">
                                            <div class="myheader">
                                                <div id="concrete">
                                                    <!--出机口温度-->
                                                    <table class="table table-bordered" id="outletTemperature">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">出机口温度</td>
                                                            <td>控制标准（℃）</td>
                                                            <td>检测组数（个）</td>
                                                            <td>合格组数（个）</td>
                                                            <td>最大值（℃）</td>
                                                            <td>最小值（℃）</td>
                                                            <td>平均值（℃）</td>
                                                            <td>合格率（%）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>23</td>
                                                            <td>9</td>
                                                            <td>23</td>
                                                            <td>65</td>
                                                            <td>43</td>
                                                            <td>55</td>
                                                            <td>68</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--入仓温度-->
                                                    <table class="table table-bordered" id="entryTemperature">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">入仓温度</td>
                                                            <td>检测次数（次）</td>
                                                            <td>最大值（℃）</td>
                                                            <td>最小值（℃）</td>
                                                            <td>平均值（℃）</td>
                                                            <td>合格次数（次）</td>
                                                            <td>合格率（%）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>23</td>
                                                            <td>65</td>
                                                            <td>43</td>
                                                            <td>55</td>
                                                            <td>68</td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                    <!--浇筑温度-->
                                                    <table class="table table-bordered" id="pouringTemperature">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">浇筑温度</td>
                                                            <td>检测次数（次）</td>
                                                            <td>最大值（℃）</td>
                                                            <td>最小值（℃）</td>
                                                            <td>平均值（℃）</td>
                                                            <td>合格次数（次）</td>
                                                            <td>合格率（%）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>23</td>
                                                            <td>65</td>
                                                            <td>43</td>
                                                            <td>55</td>
                                                            <td>68</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--混凝土拌合物-->
                                                    <table class="table table-bordered" id="mixtureTemperature">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">混凝土拌合物（机口）塌落度</td>
                                                            <td>设计要求（mm）</td>
                                                            <td>检测次数（次）</td>
                                                            <td>合格次数</td>
                                                            <td>最大值（mm）</td>
                                                            <td>最小值（mm）</td>
                                                            <td>平均值（mm）</td>
                                                            <td>合格率（%）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>23</td>
                                                            <td>65</td>
                                                            <td>43</td>
                                                            <td>55</td>
                                                            <td>68</td>
                                                            <td>55</td>
                                                            <td>68</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--混凝土抗压强度-->
                                                    <table class="table table-bordered" id="compressiveStrength">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">混凝土抗压强度<br>(施工单位)</td>
                                                            <td>期龄（d）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>23</td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="2" style="width: 160px;background-color: #bae2f3;">混凝土抗压强度<br>(监理单位)</td>
                                                            <td>期龄（d）</td>
                                                        </tr>
                                                        <tr>
                                                            <td>23</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--混凝土全面性能-->
                                                    <table class="table table-bordered" id="comprehensivePerformance">
                                                        <tbody>
                                                        <tr>
                                                            <td rowspan="3" style="width: 160px;background-color: #bae2f3;">混凝土全面性能<br>(施工单位)</td>
                                                            <td rowspan="2" colspan="2">设计指标</td>
                                                            <td rowspan="2" colspan="2">期龄（d）</td>
                                                            <td colspan="3">抗冻等级</td>
                                                            <td colspan="3">抗渗等级</td>

                                                        </tr>
                                                        <tr>
                                                            <td>取样组数</td>
                                                            <td>测值</td>
                                                            <td>合格率</td>
                                                            <td>取样组数</td>
                                                            <td>测值</td>
                                                            <td>合格率</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">23</td>
                                                            <td colspan="2">65</td>
                                                            <td>1</td>
                                                            <td>2</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>5</td>
                                                            <td>9</td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="3" style="width: 160px;background-color: #bae2f3;">混凝土全面性能<br>(监理单位)</td>
                                                            <td rowspan="2" colspan="2">设计指标</td>
                                                            <td rowspan="2" colspan="2">期龄（d）</td>
                                                            <td colspan="3">抗冻等级</td>
                                                            <td colspan="3">抗渗等级</td>

                                                        </tr>
                                                        <tr>
                                                            <td>取样组数</td>
                                                            <td>测值</td>
                                                            <td>合格率</td>
                                                            <td>取样组数</td>
                                                            <td>测值</td>
                                                            <td>合格率</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">23</td>
                                                            <td colspan="2">65</td>
                                                            <td>1</td>
                                                            <td>2</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>5</td>
                                                            <td>9</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="drainage_engineering">
                                            <div class="drainage">
                                                排水孔
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/plugins/echarts/echarts-all.js"></script>
<script src="__JS__/pdf.js"></script>
<script src="__JS__/mypdf.js"></script>
</body>
<script>
    //组织结构
    var zTreeObj;
    //点击获取节点名称
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        var tId = treeNode.id;
        if(treeNode.level == 3) {
            $("#content").css("visibility", "visible");
            // 基于准备好的dom，初始化echarts实例
            var myChartBar = echarts.init(document.getElementById('mainBar'));
            var myChartLine = echarts.init(document.getElementById('mainLine'));
            var myChartPoint = echarts.init(document.getElementById('mainPoint'));
            var myChartPie = echarts.init(document.getElementById('mainPie'));
            $.ajax({
                type:'post',
                url:'./excavate',
                data:{
                    "id":tId,
                    "cate":"开挖"
                },
                dataType:'json',
                success:function (res) {
                    console.log(res);
                    var data = res.excavate_data.open_cut;
                    var max_val = data.max_val;
                    var mix_val = data.min_val;
                    var average_val = data.average_val;
                    if(res.code === 1){
                        //最大值最小值柱状图
                        myChartBar.setOption({
                                title: {
                                    text: '数值分析（cm）'
                                },
                                color:['#EED5B7','#FFC125', '#1E90FF'],
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['最大值', '平均值','最小值' ]
                                },
                                grid: {

                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'value',
                                    boundaryGap: [0, 0.01]
                                },
                                yAxis: {
                                    type: 'category',
                                    data: ['超挖','欠挖','不平整度',"半孔率"]

                                },

                                series: [
                                    {
                                        name: '最大值',
                                        type: 'bar', //柱状图
                                        data: max_val
                                    },
                                    {
                                        name: '平均值',
                                        type: 'bar',
                                        data: average_val
                                    },
                                    {
                                        name: '最小值',
                                        type: 'bar',
                                        data: mix_val
                                    }
                                ]
                            });
                        //合格率柱状图
                        myChartLine.setOption({
                            title: {
                                text: '合格率'
                            },
                            tooltip: {
                                trigger: 'axis',
                                formatter: '{c}%',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            legend: {
                                data:['合格率']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },

                            xAxis: {
                                type: 'category',
                                data: ['超挖','欠挖','不平整度',"半孔率"],
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            positiong: 'top',
                                            formatter: '{c}%'
                                        }
                                    }
                                },
                                boundaryGap: [0, 0.01]
                            },
                            yAxis:  {
                                axisLabel: {
                                    formatter: '{value} %'
                                }
                            },
                            series: [
                                {
                                    name:'合格率',
                                    type:'bar',
                                    barWidth : 40,
                                    stack: '总量',
                                    data:data.percent_of_pass
                                }
                            ]
                        });
                        //监测点数柱状图
                        myChartPoint.setOption({
                            title: {
                                text: '监测点数（个）'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {

                                containLabel: true
                            },
                            xAxis: {
                                type: 'category',
                                data: ['超挖','欠挖','不平整度',"半孔率"]
                            },
                            yAxis: {

                                type: 'value',
                                boundaryGap: [0, 0.01]
                            },

                            series: [
                                {
                                    name: '检测点数',
                                    barWidth:40,
                                    type: 'bar', //柱状图
                                    data: data.detection_points
                                 }
                            ]
                        })
                        //半孔率pie
                        myChartPie.setOption({
                            title : {
                                text: '半孔率',
                                x:'left'
                            },
                            tooltip : {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'horizontal',
                                left: 'left',
                                data: ['超挖','欠挖','不平整度','半孔率']
                            },
                            series : [
                                {
                                    name: '半孔率',
                                    type: 'pie',
                                    radius : '55%',
                                    center: ['50%', '60%'],
                                    data:[
                                        {value:data.half[0], name:'超挖'},
                                        {value:data.half[1], name:'欠挖'},
                                        {value:data.half[2], name:'不平整度'},
                                        {value:data.half[3], name:'半孔率'},
                                    ],
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        })
                        //table统计
                        var str = '';
                        var arr = ['超挖','欠挖','不平整度','半孔率']
                        for (var i = 0; i < max_val.length; i++) {
                            str += '<tr><td>'+arr[i]+'</td><td>'+data.detection_points[i]+'</td><td>'+max_val[i]+'</td><td>'+mix_val[i]+'</td><td>'+average_val[i]+'</td><td>'+data.percent_of_pass[i]+'</td><td>'+data.half[i]+'</td></tr>>';
                        }
                        $("#myTable tbody").empty().append(str);
                        }


                    }
            })


        }else if(treeNode.level != 3) {
            $("#content").css("visibility", "none");
        }
    };
    var setting = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./index",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };
    zTreeObj = $.fn.zTree.init($("#tree_container"), setting,null);
    //tab切换
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });




    //pie图


</script>

