{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
<style>
    #path{
        line-height: 30px;
        font-weight: 700;
        border-bottom: 1px solid #000;
    }
    .ztree li a.level0 {width:100%;height: 30px; text-align: center; display:block; background-color: #0B61A4; border:1px silver solid;}
    .ztree li a.level0.cur {background-color: #66A3D2; }
    .ztree li a.level0 span {display: block; color: white; padding-top:3px; font-size:12px; font-weight: bold;word-spacing: 2px;}
    .ztree li a.level0 span.button {	float:right; margin-left: 10px; visibility: visible;display:none;}
    .ztree li span.button.switch.level0 {display:none;}
    #mytable1_wrapper,#mytable2_wrapper,#mytable3_wrapper,#mytable4_wrapper,#mytable5_wrapper{
        display: none;
    }
    .mybtn{
        float: left;
        margin-right: 20px;
        margin-top: 5px;
    }
    .selectyear1,.selectyear2,.selectyear3,.selectyear5,.selectyear6,.selectyear7,.selectyear8,.selectyear9{
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        font-weight: 700;
        color: black;
    }
    .dataTables_wrapper .dataTables_length , .dataTables_wrapper .dataTables_filter{
        margin-top: 10px;
    }
    .dataTable thead  tr th:first-child:after{
        content: ""!important;
        display: none!important;
    }
    .file-item{
        float: left;
    }
    .excel{
        width: 390px;
        height: 33px;
        position: absolute;
        right: 230px;
        top: 5px;
        z-index: 4;
    }
    .excel select{
        margin-left: 10px;
        width: 100px;
    }
    .tab-pane{
        position:relative;
    }
    .msg{
        font-weight: 400;
        line-height: 30px;
        padding: 8px 0;
        position: absolute;
        text-align: center;
        width: 96%;
        color: red;
    }
    .myp{
        background-color: #bae2f3;
        font-weight: 700;
        line-height: 30px;
        padding: 8px 0;
        position: absolute;
        text-align: center;
        width: 78%;
        left: 11%;
    }
</style>
<body class="gray-bg animated fadeInRight" style="background-color:#fff;">

<div id="mycontent" style="width: 20%;height: 98%;display: inline-block;background-color:#fff;overflow-x: scroll;padding-right:0px;border-right: 1px solid #ccc;">
    <!--<div id="file_per"></div>-->
    <!--<div id="file_list"></div>-->
    <div id="tree_container" class="ztree"></div>
    <p style="display: none;"></p>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 78%;vertical-align: top;padding: 0;margin-top: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div id="path">当前路径:</div>
                <div id="msg" style="height: 50px; display: none">
                    <p class="msg">选择当前页面信息或者<a herf="javascript:void(0)" onclick="selectAll(this)">全部信息</a></p>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="mytable1_wrapper">
                        <div class="excel">
                            <div class="excelImport btn btn-outline btn-primary">导入</div>
                            <div class="excelExport btn btn-outline btn-primary">导出</div>
                            <div class="excelExportModel btn btn-outline btn-primary">导出Excel模板</div>
                            版本：<select name="down_excel" class="down_excel" id="down_excel1">
                        </select>
                        </div>
                        <table id="table1" width="100%" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>全选<input type="checkbox" class="checkall"/></th>
                                <th>序号</th>
                                <th>分包单位/作业队</th>
                                <th>姓名</th>
                                <th>特殊工种</th>
                                <th>职业资格证书名称</th>
                                <th>取证日期</th>
                                <th>有效日期</th>
                                <th>证件状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane active" id="mytable2_wrapper">
                        <table id="table2" width="100%" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>文件名称</th>
                                <th>上传时间</th>
                                <th>上传人</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane active" id="mytable3_wrapper">
                        <table id="table3" width="100%" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>文件名称（主题）</th>
                                <th>上传时间</th>
                                <th>上传人</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane active" id="mytable4_wrapper">
                        <div class="excel">
                            <div class="excelImport btn btn-outline btn-primary">导入</div>
                            <div class="excelExport btn btn-outline btn-primary" >导出</div>
                            <div class="excelExportModel btn btn-outline btn-primary">导出Excel模板</div>
                            版本：<select name="down_excel" class="down_excel" id="down_excel2">
                        </select>
                        </div>
                        <table id="table4" width="100%" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>全选<input type="checkbox" class="checkall"/></th>
                                <th>类型</th>
                                <th>规格型号</th>
                                <th>安放位置</th>
                                <th>数量</th>
                                <th>生产日期</th>
                                <th>投用日期</th>
                                <th>下次换检时间</th>
                                <th>编号</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane active" id="mytable5_wrapper">
                        <div class="excel">
                            <div class="excelImport btn btn-outline btn-primary">导入</div>
                            <div class="excelExport btn btn-outline btn-primary" >导出</div>
                            <div class="excelExportModel btn btn-outline btn-primary">导出Excel模板</div>
                            版本：<select name="down_excel" class="down_excel" id="down_excel3">
                        </select>
                        </div>
                        <table id="table5" width="100%" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>全选<input type="checkbox" class="checkall"/></th>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>违章状态</th>
                                <th>违章类别</th>
                                <th>违章时间</th>
                                <th>记分情况</th>
                                <th>经济处罚</th>
                                <th>处置结果</th>
                                <th>整改情况</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fname4" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12" style="background-color:#fff;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>反违章记录</h5>
                </div>
                <div class="ibox-content">
                    <input id="eid" type="text" class="form-control" value="" style="display: none;">
                    <form class="form-horizontal" id="violationform" method="post" action="#" onsubmit="return false">
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">姓名：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="full_name" type="text" class="form-control" name="full_name" required="required" placeholder="此处为必填项">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">违章情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="violation_situation" type="text" class="form-control" name="violation_situation">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">违章类别：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="violation_situation" id="violation_situation" class="form-control" >
                                        <option value="管理违章">管理违章</option>
                                        <option value="行为违章">行为违章</option>
                                        <option value="装置违章">装置违章</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">违章时间：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="violation_time" type="date" class="form-control" name="violation_time">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">记分情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="scoring_situation" type="text" class="form-control" required="required" placeholder="此处为必填项" name="date_production" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">经济处罚：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="economic_punishment" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">处置结果：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="disposal_results" type="text" class="form-control" name="disposal_results" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">整改情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="rectify_rectify" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fname5" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12" style="background-color:#fff;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>反违章记录</h5>
                </div>
                <div class="ibox-content">
                    <input id="eid" type="text" class="form-control" value="" style="display: none;">
                    <form class="form-horizontal" id="violationform" method="post" action="#" onsubmit="return false">
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">姓名：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="full_name" type="text" class="form-control" name="full_name" required="required" placeholder="此处为必填项">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">违章情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="violation_situation" type="text" class="form-control" name="violation_situation">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">违章类别：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <select name="violation_situation" id="violation_situation" class="form-control" >
                                        <option value="管理违章">管理违章</option>
                                        <option value="行为违章">行为违章</option>
                                        <option value="装置违章">装置违章</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">违章时间：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="violation_time" type="date" class="form-control" name="violation_time">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">记分情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="scoring_situation" type="text" class="form-control" required="required" placeholder="此处为必填项" name="date_production" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">经济处罚：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="economic_punishment" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label col-sm-offset-2 col-xs-offset-0">处置结果：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="disposal_results" type="text" class="form-control" name="disposal_results" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-6 col-sm-4 control-label">整改情况：</label>
                                <div class="myblock col-xs-6 input-group">
                                    <input id="rectify_rectify" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form_container_excel" style="display: none;"></div>
<div id="form_container_model" style="display: none;"></div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>


<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>

<script type="text/javascript">
    //获取选中行ID
    var dataArr=[];
    var $check_table; //全选的表格
    //
    $("thead tr th:first-child").unbind();
    // var curMenu = null, zTree_Menu = null;
    //组织结构
    var zTreeObj;
    var selfid;

    //点击获取路径
    function onClick(e, treeId, node) {
        $("#path").text("");
        var sNodes = zTreeObj.getSelectedNodes();//选中节点
        selfid = zTreeObj.getSelectedNodes()[0].id
        var path = sNodes[0].name; //选中节点的名字
        node = sNodes[0].getParentNode();//获取父节点

        //判断是否还有父节点
        if (node) {
            //判断是否还有父节点
            while (node){
                path = node.name + ">>" + path;
                node = node.getParentNode();
            }
        }else{
            $("#path").text(sNodes[0].name);
        }
        //判断是否拉数据
        var groupid = sNodes[0].pId //父节点的id
        if (!sNodes[0].children && groupid !== 1 && groupid !== 12 && groupid !== 13){
            alert(groupid)
            switch (Number(groupid)){
                case 11 :
                    table1.ajax.url("__SCRIPT__/safety_equipmentmanage.php?selfid=" + selfid).load();
                    $("#mytable1_wrapper").css("display","block");
                    break;
                case 121:
                case 122:
                case 123:
                case 124:
                    table2.ajax.url("__SCRIPT__/safety_equipmentmanage.php?selfid=" + selfid).load();
                    $("#mytable2_wrapper").css("display","block");
                    break;
                case 131:
                    vision_getinit('../Specialequipmentmanagement/getversion');
                    table3.ajax.url("__SCRIPT__/safety_special_equipment_management.php?selfid=" + selfid).load();
                    $("#mytable3_wrapper").css("display","block");
                    break;
                case 132:
                    vision_getinit('../Trafficvehicle/getversion');
                    table5.ajax.url("__SCRIPT__/safety_trafficvehicle.php?selfid=" + selfid).load();
                    $("#mytable5_wrapper").css("display","block")
                    break;
                case 14 :
                    vision_getinit('../Vehiclemanagement/getversion');
                    // table4.ajax.url("__SCRIPT__/safety_violation_record.php?selfid=" + selfid).load();
                    $("#mytable4_wrapper").css("display","block");
                case 21 :
                        vision_getinit('../Vehiclemanagement/getversion');
                        table5.ajax.url("__SCRIPT__/safety_violation_record.php?selfid=" + selfid).load();
                        $("#mytable5_wrapper").css("display","block");
                    break;
            }
        }
        $("#path").text("当前路径:"+path)
    }
    //配置信息
    var setting = {
        view: {
            showLine: true, //设置 zTree 是否显示节点之间的连线。
            selectedMulti: false, //设置是否允许同时选中多个节点。
            dblClickExpand: true //双击节点时，是否自动展开父节点的标识。
        },
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./index",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId",
                rootPId:0
            }
        },
        callback: {
            // beforeClick: this.beforeClick,
            onClick: this.onClick

        }
    };
    //点击前
    // function beforeClick(treeId, node) {
    //     if (node.isParent) {
    //         if (node.level === 0) {
    //             var pNode = curMenu;
    //             while (pNode && pNode.level !==0) {
    //                 pNode = pNode.getParentNode();
    //             }
    //             if (pNode !== node) {
    //                 var a = $("#" + pNode.tId + "_a");
    //                 a.removeClass("cur");
    //                 zTree_Menu.expandNode(pNode, false);
    //             }
    //             a = $("#" + node.tId + "_a");
    //             a.addClass("cur");
    //
    //             var isOpen = false;
    //             for (var i=0,l=node.children.length; i<l; i++) {
    //                 if(node.children[i].open) {
    //                     isOpen = true;
    //                     break;
    //                 }
    //             }
    //             if (isOpen) {
    //                 zTree_Menu.expandNode(node, true);
    //                 curMenu = node;
    //             } else {
    //                 zTree_Menu.expandNode(node.children[0].isParent?node.children[0]:node, true);
    //                 curMenu = node.children[0];
    //             }
    //         } else {
    //             zTree_Menu.expandNode(node);
    //         }
    //     }
    //     return !node.isParent;
    // }
    //初始化
    zTreeObj = $.fn.zTree.init($("#tree_container"), setting,null);
    // zTree_Menu = $.fn.zTree.getZTreeObj("tree_container");
    // curMenu = zTree_Menu.getNodes();//获取 zTree 的全部节点数据



    //预览
    function showPdf(id,url) {
        $.ajax({
            url: url,
            type: "post",
            data: {id:id},
            success: function (res) {
                if(res.code === 1){
                    var path = res.path;
                    window.open("__JS__/web/viewer.html?file=" + path,"_blank");
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    }

    //删除
    function del(id,url) {
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: url,
                data: {'id' : id},
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        if(url==="./equipmentDel"){
                            table1.ajax.url("__SCRIPT__/safety_equipmentmanage.php?selfid="+selfid).load();
                            table2.ajax.url("__SCRIPT__/safety_equipmentmanage.php?selfid="+selfid).load();
                        }else if(url==="../Repairrecord/repairrecordDel"){
                            table10.ajax.url("__SCRIPT__/safety_repairrecord.php?pid="+$("#eid").val()).load();
                        }else if(url==="../Specialequipmentmanagement/equipmentDel"){
                            table3.ajax.url("__SCRIPT__/safety_special_equipment_management.php?selfid="+selfid).load();
                        }else if(url==="../Maintenancerecord/maintenancerecordDel"){
                            table11.ajax.url("__SCRIPT__/safety_maintenancerecord.php?pid="+$("#eid").val()).load();
                        }else if(url==="../Trafficvehicle/trafficDel"){
                            table5.ajax.url("__SCRIPT__/safety_violation_record.php?selfid="+selfid).load();
                        }
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }

    //下载
    function download(id,url) {
        $.ajax({
            url: url,
            success: function (res) {
                if(res.code != 1){
                    layer.msg(res.msg)
                }else {
                    $("#form_container").empty();
                    var str = "";
                    str += ""
                        + "<iframe name=downloadFrame"+ id +" style='display:none;'></iframe>"
                        + "<form name=download"+ id +" action="+ url +" method='get' target=downloadFrame"+ id +">"
                        + "<span class='file_name' style='color: #000;'>"+str+"</span>"
                        + "<input class='file_url' style='display: none;' name='id' value="+ id +">"
                        + "<button type='submit' class=btn" + id +"></button>"
                        + "</form>"
                    $("#form_container").append(str);
                    $("#form_container").find(".btn" + id).click();
                }
            }
        })
    }
</script>
<!--table4消防安全管理-->
<script>
    //消防安全管理-表格
    var table4 = $("#table4").DataTable({
        "processing": true,//是否显示处理状态
        "serverSide":true,//是否开启服务器模式
        'order' : [1,'asc'],
        "ajax":{
            "url": "__SCRIPT__/safety_violation_record.php"
        },
        "dom": '<"mybtn btn btn-outline btn-primary"><"myl"l><"selectyear5">frtip',
        "columnDefs":[ //设置列定义初始化属性
            {
                "searchable":false,  //禁止搜索
                "orderable":false,   //禁止排序
                "targets":[10],         //指定第六列
                "render": function (data,type,row) {
                    var html = "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='edit4(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-success btn-outline btn-xs' style='margin-left: 5px;' onclick='show4(this)' value='预览'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del4(this)' value='删除'/>" ;
                    return html;
                }
            },
            {
                "orderable":false,
                "targets":[0],
                "render":function (data,type,row) {
                    var html = "<input type='checkbox' class='checkchild' onclick='getRadioId(this)'/>"
                    return  html;
                }
            }
        ],
        "language": {
            "lengthMenu": "每页_MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        },
        "drawCallback": function( settings ) {
            if(dataArr[0]==="all"){
                $(".checkchild").prop("checked", true); //全部选中
            }else{
                $(".checkchild").each(function () {
                    if(dataArr.indexOf($(this).parents('tr').find('td:eq(1)').text())!==-1){
                        $(this).prop("checked", true)
                    }
                })
            }
        }
    });
    //禁止表头全部点击事件
    $("thead tr th:first-child").click(function () {
        $("thead tr th:first-child").unbind();
    });
    //消防安全管理-新增
    $("div.mybtn").html("新增")
    $("#table4_wrapper .mybtn").click(function () {
        $("#fname4 input").val("");
        $("#fname4").modal('show');
    });
    //消防安全管理-年度
    var selectyear4 ='<input id="yeardu4" />';
    $("div.selectyear4").html("年度："+selectyear4)
    $("#yeardu4").jeDate({
        isinitVal:true,
        format:"YYYY年",
        okfun:function (obj) {
            table5.ajax.url("__SCRIPT__/safety_trafficvehicle.php?year="+obj.date.YYYY+"&selfid="+selfid).load();
            console.log(obj.date.YYYY);
        }
    });
    $("#yeardu4").val("");

    //消防安全管理-提交
    $("#violationform").submit(function () {
        var url = $("#did").val()===""?"../Trafficvehicle/trafficInsert":"../Trafficvehicle/trafficEdit"
        $.ajax({
            url:url,
            type: "post",
            data: {
                id:$("#did").val(),
                selfid:selfid,
                full_name:$("#full_name").val(),//姓名
                violation_situation:$("#violation_situation").val(),//违章情况
                category_violation:$("#category_violation").val(),//违章类别
                violation_time:$("#violation_time").val(),//违章时间
                scoring_situation:$("#vehicle_type").val(),//记分情况
                economic_punishment:$("#annual_verification").val(),//经济处罚
                disposal_results:$("#insurance").val(),//处置结果
                rectify_rectify:$("#person_in_charge").val(),//整改情况
                input_time:$("#down_excel2").val() //版本号
            },
            datatype: "json",
            success: function (res) {
                if(res.code === 1){
                    layer.msg(res.msg);
                    table4.ajax.url("__SCRIPT__/safety_trafficvehicle.php?selfid="+selfid).load();
                    $("#fname4").modal('hide');
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    });
    //消防安全管理-删除
    function del4(that) {
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        del(id,"../Trafficvehicle/trafficDel");
    };
    //消防安全管理-编辑
    function edit4(that) {
        $("#fname4 .btn-primary").show();
        $("#fname4 input").removeAttr("disabled");
        $("#fname4 select").removeAttr("disabled");
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        $("#fname4").modal('show');
        $.ajax({
            url: "../Trafficvehicle/getindex",
            type: "post",
            data: {id:id},
            dataType: "json",
            success: function (res) {
                console.log(res);
                if(res.code === 1){
                    var state = getNowFormatDate()<=res.data.year_limit?(getNowFormatDate()<=res.data.insurance_limit?"正常":"保险过期"):"年审过期";
                    $("#did").val(res.data.id);
                    $("#full_name").val(res.data.full_name);
                    $("#violation_situation").val(res.data.violation_situation);
                    $("#category_violation").val(res.data.category_violation);
                    $("#violation_time").val(res.data.violation_time);
                    $("#scoring_situation").val(res.data.scoring_situation);
                    $("#economic_punishment").val(res.data.economic_punishment);
                    $("#disposal_results").val(res.data.disposal_results);
                    $("#rectify_rectify").val(res.data.rectify_rectify);
                    $("#fname4").modal('show');
                }
            }
        })
    };
    //消防安全管理-查看
    function show4(that) {
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        $.ajax({
            url: "../Trafficvehicle/getindex",
            type: "post",
            data: {id:id},
            dataType: "json",
            success: function (res) {
                if(res.code === 1){
                    $("#full_name").val(res.data.full_name);
                    $("#violation_situation").val(res.data.violation_situation);
                    $("#category_violation").val(res.data.category_violation);
                    $("#violation_time").val(res.data.violation_time);
                    $("#scoring_situation").val(res.data.scoring_situation);
                    $("#economic_punishment").val(res.data.economic_punishment);
                    $("#disposal_results").val(res.data.disposal_results);
                    $("#rectify_rectify").val(res.data.rectify_rectify);
                    $("#fname4").modal('show');
                    $("#fname4 input").attr("disabled","disabled");
                    $("#fname4 select").attr("disabled","disabled");
                    $("#fname4 .btn-primary").hide();
                }
            }
        })
    }

</script>
<!--table5作业行为-->
<script>
    $("#violation_time").jeDate({
        isinitVal:false,
        format: "YYYY-MM-DD"
    });
    //反违章记录-表格
    var table5 = $("#table5").DataTable({
        "processing": true,//是否显示处理状态
        "serverSide":true,//是否开启服务器模式
        'order' : [1,'asc'],
        "ajax":{
            "url": "__SCRIPT__/safety_violation_record.php"
        },
        "dom": '<"mybtn btn btn-outline btn-primary"><"myl"l><"selectyear5">frtip',
        "columnDefs":[ //设置列定义初始化属性
            {
                "searchable":false,  //禁止搜索
                "orderable":false,   //禁止排序
                "targets":[10],         //指定第六列
                "render": function (data,type,row) {
                    var html = "<input type='button' class='btn btn-primary btn-outline btn-xs' style='margin-left: 5px;' onclick='edit5(this)' value='编辑'/>" ;
                    html += "<input type='button' class='btn btn-success btn-outline btn-xs' style='margin-left: 5px;' onclick='show5(this)' value='预览'/>" ;
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del5(this)' value='删除'/>" ;
                    return html;
                }
            },
            {
                "orderable":false,
                "targets":[0],
                "render":function (data,type,row) {
                    var html = "<input type='checkbox' class='checkchild' onclick='getRadioId(this)'/>"
                    return  html;
                }
            }
        ],
        "language": {
            "lengthMenu": "每页_MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        },
        "drawCallback": function( settings ) {
            if(dataArr[0]==="all"){
                $(".checkchild").prop("checked", true); //全部选中
            }else{
                $(".checkchild").each(function () {
                    if(dataArr.indexOf($(this).parents('tr').find('td:eq(1)').text())!==-1){
                        $(this).prop("checked", true)
                    }
                })
            }
        }
    });
    //禁止表头全部点击事件
    $("thead tr th:first-child").click(function () {
        $("thead tr th:first-child").unbind();
    });
    //反违章记录-新增
    $("div.mybtn").html("新增")
    $("#table5_wrapper .mybtn").click(function () {
        $("#fname5 input").val("");
        $("#fname5").modal('show');
    });
    //反违章记录-年度
    var selectyear5 ='<input id="yeardu5" />';
    $("div.selectyear5").html("年度："+selectyear5)
    $("#yeardu5").jeDate({
        isinitVal:true,
        format:"YYYY年",
        okfun:function (obj) {
            table5.ajax.url("__SCRIPT__/safety_trafficvehicle.php?year="+obj.date.YYYY+"&selfid="+selfid).load();
            console.log(obj.date.YYYY);
        }
    });
    $("#yeardu5").val("");

    //反违章记录-提交
    $("#violationform").submit(function () {
        var url = $("#eid").val()===""?"../Trafficvehicle/trafficInsert":"../Trafficvehicle/trafficEdit"
        $.ajax({
            url:url,
            type: "post",
            data: {
                id:$("#eid").val(),
                selfid:selfid,
                full_name:$("#full_name").val(),//姓名
                violation_situation:$("#violation_situation").val(),//违章情况
                category_violation:$("#category_violation").val(),//违章类别
                violation_time:$("#violation_time").val(),//违章时间
                scoring_situation:$("#vehicle_type").val(),//记分情况
                economic_punishment:$("#annual_verification").val(),//经济处罚
                disposal_results:$("#insurance").val(),//处置结果
                rectify_rectify:$("#person_in_charge").val(),//整改情况
                input_time:$("#down_excel3").val() //版本号
            },
            datatype: "json",
            success: function (res) {
                if(res.code === 1){
                    layer.msg(res.msg);
                    table5.ajax.url("__SCRIPT__/safety_violation_record.php?selfid="+selfid).load();
                    $("#fname5").modal('hide');
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    });
    //反违章记录-删除
    function del5(that) {
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        del(id,"../Trafficvehicle/trafficDel");
    };
    //反违章记录-编辑
    function edit5(that) {
        $("#fname5 .btn-primary").show();
        $("#fname5 input").removeAttr("disabled");
        $("#fname5 select").removeAttr("disabled");
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        $("#fname5").modal('show');
        $.ajax({
            url: "../Trafficvehicle/getindex",
            type: "post",
            data: {id:id},
            dataType: "json",
            success: function (res) {
                console.log(res);
                if(res.code === 1){
                    var state = getNowFormatDate()<=res.data.year_limit?(getNowFormatDate()<=res.data.insurance_limit?"正常":"保险过期"):"年审过期";
                    $("#eid").val(res.data.id);
                    $("#full_name").val(res.data.full_name);
                    $("#violation_situation").val(res.data.violation_situation);
                    $("#category_violation").val(res.data.category_violation);
                    $("#violation_time").val(res.data.violation_time);
                    $("#scoring_situation").val(res.data.scoring_situation);
                    $("#economic_punishment").val(res.data.economic_punishment);
                    $("#disposal_results").val(res.data.disposal_results);
                    $("#rectify_rectify").val(res.data.rectify_rectify);
                    $("#fname5").modal('show');
                }
            }
        })
    };
    //反违章记录-查看
    function show5(that) {
        var id = $(that).parent("td").parent("tr").children("td:nth-child(2)").text();
        $.ajax({
            url: "../Trafficvehicle/getindex",
            type: "post",
            data: {id:id},
            dataType: "json",
            success: function (res) {
                if(res.code === 1){
                    $("#full_name").val(res.data.full_name);
                    $("#violation_situation").val(res.data.violation_situation);
                    $("#category_violation").val(res.data.category_violation);
                    $("#violation_time").val(res.data.violation_time);
                    $("#scoring_situation").val(res.data.scoring_situation);
                    $("#economic_punishment").val(res.data.economic_punishment);
                    $("#disposal_results").val(res.data.disposal_results);
                    $("#rectify_rectify").val(res.data.rectify_rectify);
                    $("#fname5").modal('show');
                    $("#fname5 input").attr("disabled","disabled");
                    $("#fname5 select").attr("disabled","disabled");
                    $("#fname5 .btn-primary").hide();
                }
            }
        })
    }

</script>
<!--选择框 导出-->
<script>
    //获取选中行ID
    var dataArr=[];
    var $check_table; //全选的表格

    var uploaderExcel;
    //获取id
    function getDataId(that) {
        var allTrue;
        var isChecked = $(that).prop('checked');
        var id = $(that).parents('tr').find('td:eq(1)').text();//获取id
        if(isChecked){ //选中判断有没有 没有就push id
            if(dataArr.indexOf(id)==-1){
                dataArr.push(id);
            }
            $(".checkchild").each(function(){
                if(!$(this).prop('checked')){
                    allTrue = "noall"
                    return
                }
            });
            if(allTrue!=="noall"){
                $("#msg").show("fast");
                $(".msg").html('选择当前页面信息或者<a herf="javascript:void(0)" onclick="selectAll(this)">全部信息</a>');
                $check_table.find(".checkall").prop("checked",true);
            }
        }else{
            //没选中验证数组有没有 有就删除掉
            //有未选项就取消全选
            $check_table.find(".checkall").prop("checked",false);
            $("#msg").hide("fast");
            if(dataArr[0]==="all"){
                dataArr.shift();
                //把选择的存起来
                $check_table.find(".checkchild").each(function(){
                    if($(this).prop('checked')){
                        var id = $(this).parents('tr').find('td:eq(1)').text();
                        dataArr.push(id);
                    }
                });
            }
            if(dataArr.indexOf(id)!==-1){
                dataArr.splice(dataArr.indexOf(id),1)
            }
        }
    };
    //全部信息
    function selectAll(that) {
        console.log($(that).parent());
        $(that).parent().html("已选择全部");
        dataArr = ["all"];
        $check_table.find(".checkchild").prop("checked", true); //全部选中
    }

    //单选
    function getRadioId(that) {
        getDataId(that);
    };
    //选择框初始化
    function checkinit(){
        dataArr=[];
        $("#msg").hide();
        $(".msg").html('选择当前页面信息或者<a herf="javascript:void(0)" onclick="selectAll(this)">全部信息</a>');
        $(".checkchild").prop("checked", false); //全部不选中
        $(".checkall").prop("checked", false);
        $(".down_excel").empty();
    };
    //checkbox全选
    $(".checkall").on("click", function () {
        $check_table = $(this).parents("table");
        dataArr=[];
        $(".msg").html('选择当前页面信息或者<a herf="javascript:void(0)" onclick="selectAll(this)">全部信息</a>');
        var check = $(this).prop("checked");
        if (check === true) {
            $("#msg").show("fast");
            $(this).parents("table").find(".checkchild").prop("checked", true); //全部选中
            $(this).parents("table").find(".checkchild").each(function(){
                getDataId(this);
            });
        } else {
            $("#msg").hide("fast");
            $(this).parents("table").find(".checkchild").prop("checked", false); //全部不选中
            $(this).parents("table").find(".checkchild").each(function(){
                getDataId(this);
            });
        }
        console.log(dataArr);
    });

    //导出excelExport
    function excel_out(id) {
        var url;
        if(dataArr.length<1){
            layer.msg("选定导出的项");
            return
        };
        switch (Number(id)){
            case 1322:
                url = "../Trafficvehicle/exportExcel";
                break;
        };
        $.ajax({
            url: url,
            type: "post",
            data: {
                'idarr':dataArr
            },
            dataType: "json",
            success: function (res) {
                if(res.code ==1){
                    $("#form_container_excel").empty();
                    var str = '<iframe name="exportExcelFrame" style="display:none;"></iframe>'
                        +'<form action='+url+' method="get" target="exportExcelFrame">';
                    for (var i = 0; i < dataArr.length; i++)
                    {
                        str += '<input style="display: none;" name="idarr[]" value="'+ dataArr[i] +'">';
                    }
                    str += '<button type="submit" id="exportExcelBtn"></button></form>';
                    $("#form_container_excel").append(str);
                    $("#form_container_excel").find("#exportExcelBtn").click();
                }else{
                    alert("获取数据失败！");
                }
            }
        });
    }

    //导出excelExport模板
    function excelModel_out(id) {
        var url;
        switch (Number(id)){
            case 1322:
                url = "../Trafficvehicle/exportExcelTemplete";
                break;
        };
        $.ajax({
            url: url,
            type: "post",
            dataType: "json",
            success: function (res) {
                if(res.code ==1){
                    $("#form_container_model").empty();
                    var str = '<iframe name="exportExcelFrameModel" style="display:none;"></iframe>'
                        +'<form action='+url+' method="get" target="exportExcelFrameModel">';
                    str += '<button type="submit" id="exportExcelModelBtn"></button></form>';
                    $("#form_container_model").append(str);
                    $("#form_container_model").find("#exportExcelModelBtn").click();
                }else{
                    alert("获取数据失败！")
                }
            }
        });
    }

    //导出点击事件
    $(".excelExport").click(function () {
        excel_out(selfid);
    });
    //导出模板点击事件
    $(".excelExportModel").click(function () {
        excelModel_out(selfid);
    });
    //导入文件-初始化
    function upload4() {
        var server;
        switch (Number(selfid)){
            case 1322 :
                server = "../Trafficvehicle/importExcel";
                break;
        }
        if(!uploaderExcel){
            uploaderExcel = WebUploader.create({
                auto: false,// 选完文件后，是否自动上传。
                swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('"+server+"')}",// 文件接收服务端。
                fileSizeLimit: 1000 *1024 *1024,
                fileNumLimit: 1,
                chunked: false,
                formData: {"selfid":""},
                duplicate :true,// 重复上传图片，true为可重复false为不可重复
                pick: {
                    multiple: false,
                    id: "#file_upload4",
                    innerHTML: "上传文件"
                }
            });

            uploaderExcel.on( 'fileQueued', function( file ) {
                $("#file_per4").append('<div id="' + file.id + '" class="item">' +
                    '</div>');
                $("#file_list4").append('<div style="display: inline-block;vertical-align: middle;" class="' + file.id + '" class="item">' +
                    '<span class="info4">' + file.name + '</span>&nbsp' +
                    '<span class="webuploadDelbtn" style="color: #0d8ddb;text-decoration: underline;cursor: pointer;">删除</span>' +
                    '</div>' );
            });
            $("#file_list4").on("click", ".webuploadDelbtn", function () {
                var $ele = $(this);
                var id = $ele.parent().attr("class");
                var file = uploaderExcel.getFile(id);
                uploaderExcel.removeFile(file,true);
            });
            uploaderExcel.on('fileDequeued', function (file) {
                $(file.id).remove();
                $('.'+file.id).remove();
                console.log("remove");
            });
            uploaderExcel.on("uploadStart",function () {
                uploaderExcel.options.formData.selfid = selfid;
            });
            uploaderExcel.on('beforeFileQueued', function (file) {
                if($("#file_list4").html()){
                    alert("只能上传一个文件,请先删除文件");
                    return false;
                }else {
                    return true;
                }
            });
            // 文件上传过程中创建进度条实时显示。
            uploaderExcel.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress .progress-bar');
                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo($li).find('.progress-bar');
                }
                $li.find('p.state').text('上传中');
                $percent.css('width', percentage * 100 + '%');
            });
            // 文件上传成功
            uploaderExcel.on( 'uploadSuccess', function( file,data, response ) {
                if(data.code === 1){
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1});
                    $("#file_upload4").empty();
                    $("#file_per4").empty();
                    $("#file_list4").empty();
                    $("#fname4").modal('hide');
                    if(Number(selfid) === 1322){
                        table5.ajax.url("__SCRIPT__/safety_trafficvehicle.php?selfid="+selfid).load();
                    }
                }else {
                    layer.msg(data.info);
                }
            });

            // 文件上传失败，显示上传出错。
            uploaderExcel.on( 'uploadError', function( file ) {
                layer.msg("上传失败",{icon:2,time:1500,shade: 0.1});
                $("#file_per2").empty();
            });
        }
    };
    //提交导入
    $("#fname4 .btn-primary").click(function () {
        if($("#file_list4").html()){
            uploaderExcel.upload();

        }else {
            alert("请选择上传文件");
        }
    });
    //导入excelImport点击事件
    $(".excelImport").click(function () {
        uploaderExcel = null;
        $("#fname4 input").val("");
        $("#file_list4").empty();
        $("#fname4").modal('show');
        upload4();
    });
    //获取版本初始化
    function vision_getinit(url) {
        $.ajax({
            url:url,
            dataType:'JSON',
            type:'POST',
            data:{"selfid":selfid},
            success:function (res) {
                var optionStr='<option value="0">全部</option>';
                for(var i=0;i<res.data.length;i++){
                    if($.trim(res.data[i])===""||res.data[i]==="null"){
                        continue;
                    }
                    optionStr += '<option value="'+res.data[i]+'">' + res.data[i] + '</option>'
                }
                $(".down_excel").append(optionStr);
            }
        });
    }
    //点击查看历史版本
    $(".down_excel").click(function () {
        var time  = $(this).find('option:selected').val();
        var history_version = (time===undefined||time==="0"||time==="null")?"":time ;//选中的值
        switch (Number(selfid)){
            case 1322:
                table5.ajax.url("__SCRIPT__/safety_trafficvehicle.php?selfid="+selfid+"&history_version="+history_version).load();
                break;
        }
    });
</script>
</body>
</html>