<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
{include file="public/header" /}
<body>
<style>
    .revised-record{
        background-color: #fff;
        border-right: 1px solid #ccc;
    }
    .revised-record h2{
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        margin: 0 10px;
        padding: 10px 0;
        text-align: center;
    }
    .dt-buttons{
        float: right;
        margin-top: 5px;
    }
    #tableItem .btn{
        margin-right: 2px;
    }
    .table-info{
        padding: 0 10px;
    }
    .dataTables_filter input{
        border: 1px solid #ccc;
    }

    table.dataTable thead th{
        font-weight: normal;
        font-size: 16px;
    }
    .table-info td{
        font-weight: normal;
        font-size: 14px;
    }
    table.dataTable.no-footer{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .export{
        float: right;
        margin: 10px 5px 10px;
        font-size: 13px;
    }
    .dataTables_wrapper .dataTables_length{
        margin-top: 15px;
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: 10px;
    }
    .dataTables_wrapper .dataTables_filter input,#years{
        margin: 0;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .dataTables_wrapper .dataTables_filter label{
        font-weight: normal;
    }
    table.dataTable thead th, table.dataTable tfoot th{
        font-weight: normal;
    }
</style>
<div class="revised-record">
    <h2>修编记录</h2>
    <div class="table-info">
        <table id="tableItem" class="table table-striped" cellspacing="0"  width="100%">
            <thead>
            <tr>
                <th>全选</th>
                <th>序号</th>
                <th>文件名称</th>
                <th>原有版本号</th>
                <th>替换版本号</th>
                <th>替换时间</th>
                <th>上传人</th>
                <th>类别</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.buttons.min.js"></script>
<script src="__JS__/jszip.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/pdf.js"></script>
<script src="__JS__/mypdf.js"></script>
<script>
    //表格
   var tableItem = $('#tableItem').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "__SCRIPT__/safety_record.php"
        },
        dom: '<"myl"l>f<"export btn btn-outline btn-primary">rtip',
        columnDefs: [
            {
                "searchable": false,
                "orderable": false,
                "targets": [8],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='showpdf1(this)' value='查看'/>";
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            },
            {
                targets:0,
                //orderable: false,
                defaultContent:"<input type ='checkbox' name='checkboxAll' class='icheckbox_minimal' value='' onclick='getSelectId(this)'>",
            }
        ],
        language: {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "search":"搜索：",
            "paginate": {
                "first": "第一页",
                "last": "最后一页",
                "previous": "上一页",
                "next": "下一页"
            }
        }
    });

    $('.export').html('导出');

    //预览
    function showPdf(id,url) {
        $.ajax({
            url: url,
            type: "post",
            data: {id:id},
            success: function (res) {
                console.log(res);
                if(res.code === 1){
                    var path = res.path;
                    window.open("__JS__/web/viewer.html?file=" + path,"_blank");
                }else {
                    layer.msg(res.msg);
                }
            }
        })
    }

    function showpdf1(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        showPdf(id,"{:url('Revisionrecord/recordPreview')}");
    }

    //删除数据
    function del(that){
        var id = $(that).parent("td").parent("tr").children("td:eq('1')").text();
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: "{:url('Revisionrecord/recordDel')}",
                data: {
                    id : id
                },
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        tableItem.ajax.url("__SCRIPT__/safety_record.php").load();
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }

    //删除数组中的指定元素
    Array.prototype.remove = function(val){
        for (var i = 0; i < this.length; i++) {
            if(this[i] === val){
                this.splice(i,1);
                break;
            }
        }
        return this;
    }

    //数组去重
    Array.prototype.removalArray = function(){
        var newArr = [];
        for (var i = 0; i < this.length; i++) {
            if(newArr.indexOf(this[i]) == -1){  //indexOf 不兼容IE8及以下
                newArr.push(this[i]);
            }
        }
        return newArr;
    }

    //获取选中行ID
    var idArr = [];
    function getId(that) {
        var isChecked = $(that).prop('checked');
        var id = $(that).parents('tr').find('td:eq(1)').text();
        if(isChecked){
            idArr.push(id);
            idArr.removalArray();
        }else{
            idArr.remove(id);
            idArr.removalArray();
        }
    }

    //单选
    function getSelectId(that) {
        getId(that);
        console.log(idArr);
    }

    //导出
    $('.export').click(function(){
        /*var isChecked = $(this).attr('isChecked');
        if(isChecked){
            return;
        }*/
        $.ajax({
            url: "{:url('Revisionrecord/recordDownload')}",
            type: "post",
            dataType: 'json',
            data:{
                id:idArr,
            },
            success: function (data) {
                if(data.code==1){
                    layer.msg('导出成功！');
                }
            }
        });
    });
</script>
</body>
</html>