<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/admin/css/jedate.css">
<link rel="stylesheet" href="/static/admin/css/iconfont.css">
{include file="public/header" /}
<style>
    a.btn{
        margin-right: 8px;
    }
    table tr td,table tr th{
        font-size: 12px;
    }
    caption{
        text-indent: 5px;
        background-color: #bae2f3;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        text-indent: 2em;
    }
</style>
<body>
<div class="container-fluid">
    <button class="btn btn-primary btn-md pull-right" data-toggle="modal" id="addTest"   style="position: relative;top: 20px;right: 20px;z-index: 999">新增</button>
    <div class="row">
        <table class="table table-hover table-bordered"  id="materTable">
            <thead>
            <tr>
                <th>序号</th>
                <th>文件名</th>
                <th>上传人</th>
                <th>上传时间</th>
                <th>操作</th>
            </tr>
            </thead>

        </table>
    </div>
    <!--增加试验资料-->
    <div id="surveyData" data-keyboard="false" data-backdrop="static" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%;margin: 0 auto;margin-top: 40px;">
        <div class="row">
            <div class="col-sm-12" style="background-color:#fff;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                    </div>
                    <div class="ibox-content">
                        <!--新增用户信息开始-->
                        <form class="form-horizontal" name="surveyAddForm" id="surveyAddForm" method="post">
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">开挖报验单号：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="k_check_single_number" type="text" class="form-control" name="k_check_single_number" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">开挖验收时间：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="k_reception_time" type="text" class="form-control k_reception_time" name="k_reception_time">
                                        <span class="input-group-addon k_reception_time">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">混凝土报验单号：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="h_check_single_number" type="text" class="form-control" name="h_check_single_number" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">混凝土验收时间：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <input id="h_reception_time" type="text" class="form-control h_reception_time" name="h_reception_time">
                                        <span class="input-group-addon h_reception_time">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label class="col-xs-6 col-sm-4 control-label">上传：</label>
                                    <div class="myblock col-xs-6 input-group">
                                        <div id="file_per" style="display: inline-block;vertical-align: middle;"></div>
                                        <div id="file_upload" style="display: inline-block;vertical-align: middle;"></div>
                                        <div id="file_list" style="display: inline-block;vertical-align: middle;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-lg-12"  style="text-align: center;margin-top: 10px">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                                </div>
                            </div>
                        </form>
                        <!--新增用户信息结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.jedate.js"></script>
<script src="__JS__/plugins/echarts/echarts-all.js"></script>
<script src="__JS__/pdf.js"></script>
<script src="__JS__/mypdf.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
</body>
<script>
    $('.k_reception_time').jeDate();
    $('.h_reception_time').jeDate();
    // $(function () {
    var uploader;
    $("#addTest").click(function () {
        $("#surveyData").modal('show');
        myupload();
    });
    function myupload() {
        $("#surveyData input").val("");
        $("#file_list").empty();
        $("#surveyData").modal('show');
        if(!uploader){
            uploader = WebUploader.create({
                auto: false,// 选完文件后，是否自动上传。
                swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('Upload/uploadSurvey')}",// 文件接收服务端。
                chunked: false,
                fileSizeLimit: 1000 *1024 *1024,
                fileNumLimit: 1,
                duplicate :true,// 重复上传图片，true为可重复false为不可重复
                pick: {
                    multiple: false,
                    id: "#file_upload",
                    innerHTML: "上传文件"
                }
            });
            uploader.on( 'fileQueued', function( file ) {

            });
            $("#file_list").on("click", ".webuploadDelbtn", function () {

            });
            uploader.on('fileDequeued', function (file) {

            });
            uploader.on("uploadStart",function () {
                //获取表单数据
                var k_check_single_number = $('#k_check_single_number').val();
                var k_reception_time = $('#k_reception_time').val();
                var h_check_single_number = $('#h_check_single_number').val();
                var h_reception_time = $('#h_reception_time').val();
                uploader.options.formData.k_check_single_number = k_check_single_number;
                uploader.options.formData.k_reception_time = k_reception_time;
                uploader.options.formData.h_check_single_number = h_check_single_number;
                uploader.options.formData.h_reception_time = h_reception_time;
            });
            uploader.on('beforeFileQueued', function (file) {
                if($("#file_list").html()){
                    alert("只能上传一个文件,请先删除文件");
                    return false;
                }else {
                    return true;
                }
            });
            // 文件上传成功
            uploader.on( 'uploadSuccess', function( file,data, response ) {
                layer.msg(file.name + "上传成功",{icon:1,time:1500,shade: 0.1});
                uploader = null;
                $("#file_upload").empty();
                $("#surveyData").modal('hide');
                $("#file_per").empty();
                materTables.ajax.url("__SCRIPT__/Materialfile.php").load();
            });
            // 文件上传失败，显示上传出错。
            uploader.on( 'uploadError', function( file ) {
                layer.msg("上传失败",{icon:2,time:1500,shade: 0.1});
                $("#file_per").empty();
                $("#file_upload").empty();
            });
        }
    }
    var materTables = $('#materTable').dataTable( {
        "ordering": false,
        "ajax": "__SCRIPT__/Materialfile.php",
        "columnDefs": [
            {
                "searchable": false,
                "orderable": false,
                "targets": [4],
                "render" :  function(data,type,row) {
                    var html = "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='detail(this)' value='查看'/>";
                    html += "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='download(this)' value='下载'/>";
                    html += "<input type='button' class='btn btn-info btn-outline btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='编辑'/>";
                    html += "<input type='button' class='btn btn-danger btn-outline btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                    return html;
                }
            }
        ]
        ,
        "oLanguage": {
            "sProcessing" : "正在获取数据，请稍后...",
            "sLengthMenu" : "显示 _MENU_ 条",
            "sZeroRecords" : "没有您要搜索的内容",
            "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty" : "记录数为0",
            "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
            "sInfoPostFix" : "",
            "sSearch" : "搜索",
            "sUrl" : "",
            "oPaginate": {
                "sFirst" : "第一页",
                "sPrevious" : "上一页",
                "sNext" : "下一页",
                "sLast" : "最后一页"
            }
        },
        "dom": '<"top pull-left"f>rt<"bottom"p><"clear">'
    } );
    //新增提交
    var manageValidator = $("#surveyAddForm").validate({
        submitHandler: function(form) {
            uploader.upload();
        },
        rules: {
            k_check_single_number: "required",
            k_reception_time: "required",
            h_check_single_number: "required",
            h_reception_time: "required",
        },
        messages: {
            k_check_single_number: "开挖报验单号不能为空",
            k_reception_time: "开挖验收时间不能为空",
            h_check_single_number: "混凝土报验单号不能为空",
            h_reception_time: "混凝土验收时间不能为空",
        }
    });

    //删除
    function del(that) {
        var id = $(that).parent("td").parent("tr").children("td:first-child").text();
        layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                url: "./ReformDel",
                data: {'id' : id},
                type: "post",
                dataType: "json",
                success: function (res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                        standard_table.ajax.url("__SCRIPT__/reform.php").load();
                    }else{
                        layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                    }
                }
            })
            layer.close(index);
        })
    }
    //查看
    function detail(that) {
        $("#detailModal").modal();
    }
    //编辑
    function edit() {
        $("#editlModal").modal();
    }
</script>
</html>