{include file="public/header" /}
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 88%;vertical-align: top;padding: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>合同信息</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div  class="col-sm-2" style="width: 100px">
                        <div class="input-group" >
                            <a href="{:url('userAdd')}"><button class="btn btn-outline btn-primary" type="button">添加用户</button></a>
                        </div>
                    </div>
                </div>
                <div id="mytable1_wrapper">
                    <table id="admin_table" width="100%" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>合同名称</th>
                            <th>合同序号</th>
                            <th>标段名称</th>
                            <th>项目名称</th>
                            <th>签订日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{include file="public/footer" /}


</body>
</html>