{include file="public/header" /}
<link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/static/admin/css/jquery.dataTables.min.css">
<style>
    .mybtn{
        margin-left: 30px;
    }
</style>
<body class="gray-bg">
<div id="mycontent" style="width: 10%;height: 100%;display: inline-block;margin: 0 10px;background-color:#fff;">
    <div id="tree_container" class="ztree"></div>
    <p></p>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="display: inline-block;width: 88%;vertical-align: top;padding: 0;">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div id="mytable1_wrapper">
                    <table id="admin_table" width="100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名称</th>
                                <th>头像</th>
                                <!--<th>用户角色</th>-->
                                <th>登陆次数</th>
                                <th>上次登录ip</th>
                                <th>上次登录时间</th>
                                <th>真实姓名</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal animated fadeInRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 80%;margin: 0 auto;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加用户</h5>
                </div>
                <div class="ibox-content">
                    <!--新增用户信息开始-->
                    <form class="form-horizontal" name="userAdd" id="userAdd" method="post" action="{:url('userAdd')}">
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">姓名：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="real_name" type="text" class="form-control" name="real_name" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">性别：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="sex" type="text" class="form-control" name="sex" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">登录账号：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="username" type="text" class="form-control" name="username" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">登录密码：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="password" type="text" class="form-control" name="password" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">手机号码：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="mobile" type="text" class="form-control" name="mobile" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">办公电话：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="tele" type="text" class="form-control" name="tele" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">所在部门：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="dept" type="text" class="form-control" name="dept" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">职位：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="position" type="text" class="form-control" name="position" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">电子邮箱：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="email" type="text" class="form-control" name="email" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="col-xs-2 col-lg-2 control-label">微信账号：</label>
                                <div class="myblock col-xs-10 col-lg-10 input-group">
                                    <input id="wechat" type="text" class="form-control" name="wechat" >
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-12 col-xs-12">
                                <label class="col-xs-1 control-label">备注：</label>
                                <div class="myblock col-xs-11 input-group">
                                    <textarea name="remark" id="remark" class="form-control" style="min-height: 150px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">头像：</label>
                            <div class="input-group col-xs-11">
                                <input type="hidden" id="data_photo" name="portrait" >
                                <div id="fileList" class="uploader-list" style="float:right"></div>
                                <div id="imgPicker" style="float:left">选择头像</div>
                                <img id="img_data" class="img-circle" height="80px" width="80px" style="float:left;margin-left: 50px;margin-top: -10px;" src="/static/admin/images/head_default.gif"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">状&nbsp;态：</label>
                            <div class="col-xs-11">
                                <div class="radio i-checks">
                                    <input type="radio" name='status' value="1" checked="checked"/>开启&nbsp;&nbsp;
                                    <input type="radio" name='status' value="0" />关闭
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-offset-6">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                    <!--新增用户信息结束-->
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script src="__JS__/jquery.ztree.all.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>

<script type="text/javascript">
var mytable1;
//编辑用户
function userEdit(id){
    location.href = './userEdit/id/'+id+'.html';
}

//删除用户
function userDel(id){
    console.log(id);
    id = Number(id);
    console.log(typeof(id) )
    lunhui.confirm(id,'{:url("userDel")}');
}
function del(that) {
    var uid = $(that).parent("td").parent("tr").children("td:first-child").text();
//    console.log(uid);
    userDel(uid);
//    mytable1
}

//用户状态
function user_state(id){
    lunhui.status(id,'{:url("user_state")}');
}
//组织结构
    function ajaxDataFilter(treeId, parentNode, responseData) {
        console.log(responseData)
        var tree_data = responseData.data;
        if (tree_data) {
            for(var i =0; i < tree_data.length; i++) {
                tree_data[i].name += "_filter";
            }
        }
        return tree_data;
    };
    function zTreeBeforeRemove(treeId, treeNode) {
        console.log(treeId,treeNode);
        if(confirm("你确定删除"+ treeNode.name +"节点吗？")){
            return true;
        }
        return false;
    }
    function addHoverDom(treeId, treeNode) {
        var aObj = $("#" + treeNode.tId + "_a");
        if ($("#diyBtn_"+treeNode.id).length>0) return;
        var editStr = "<span id='diyBtn_space_" +treeNode.id+ "' class='button' style='background-position: -144px 0;'> </span>"
            + "<button type='button' class='diyBtn1' id='diyBtn_" + treeNode.id
            + "' title='"+treeNode.name+"' onfocus='this.blur();'></button>";
        aObj.append(editStr);
        var btn = $("#diyBtn_space_"+treeNode.id);
        if (btn) btn.bind("click", function(){
//            alert("diy Button for " + treeNode.name);
            var child_name = prompt("请输入子节点名称");
            if(child_name){
                console.log(child_name)
            }
        });
    };
    function removeHoverDom(treeId, treeNode) {
        $("#diyBtn_"+treeNode.id).unbind().remove();
        $("#diyBtn_space_" +treeNode.id).unbind().remove();
    };
    //点击获取节点名称
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode.tId + ", " + treeNode.name);
        $("#mycontent>p").text(treeNode.name);
    };
    var setting = {
        async: {
            enable : true,
            autoParam: ["pId"],
            type : "post",
            url : "./getTreeData",
            dataType :"json"
        },
        data:{
            keep: {
                leaf : true,
                parent : true
            },
            simpleData : {
                enable:true,
                idkey: "id",
                pIdKey: "pId"
            }
        },
        callback: {
            onClick: zTreeOnClick,
            beforeRemove: zTreeBeforeRemove,
        },
        edit: {
            drag : {
                isMove : true,
                prev : true,
                next : true,
                inner : true
            },
            enable : true,
            editNameSelectAll: true,
            showRemoveBtn: true,
            removeTitle: "删除节点",
            showRenameBtn: true,
            renameTitle: "编辑节点名称",
            showAddBtn: true,
            addTitle: "添加节点"
        },
        view: {
            addHoverDom: addHoverDom,
            removeHoverDom: removeHoverDom
        }
    };
    var zTreeObj = $.fn.zTree.init($("#tree_container"), setting,null);


 //datatable
function myuser_state(that) {
    var uid = $(that).parent("td").parent("tr").children("td:first-child").text();
    var val = $(that).val();
    user_state(uid);
    if(val == "开启"){
        $(that).removeClass("btn-primary").addClass("btn-danger").val("禁用");
    }else {
        $(that).removeClass("btn-danger").addClass("btn-primary").val("开启");
    }
}
function edit(that) {
    var uid = $(that).parent("td").parent("tr").children("td:first-child").text();
    window.open("/admin/user/useradd.html?uid=" + uid,"_self");
}

mytable1 = $('#admin_table').DataTable( {
    "processing": true,
    "serverSide": true,
    "ajax": "__SCRIPT__/test.php",
    "dom": 'l<"mybtn btn btn-outline btn-primary">frtip',
    "columnDefs": [
        {
            "searchable": false,
            "orderable": false,
            "targets": [7],
            "render" :  function(data,type,row) {
                if(data == 1){
                    var html = "<input type='button' class='btn btn-primary btn-xs' style='margin-left: 5px;' onclick='myuser_state(this);' value='开启'/>";
                }else {
                    var html = "<input type='button' class='btn btn-danger btn-xs' style='margin-left: 5px;' onclick='myuser_state(this);' value='禁用'/>";
                }

                return html;
            }
        },
        {
            "searchable": false,
            "orderable": false,
            "targets": [8],
            "render" :  function(data,type,row) {
                var html = "<input type='button' class='btn btn-primary btn-xs' style='margin-left: 5px;' onclick='edit(this)' value='编辑'/>";
                html += "<input type='button' class='btn btn-danger btn-xs' style='margin-left: 5px;' onclick='del(this)' value='删除'/>" ;
                return html;
            }
        }
    ],
    "language": {
        "lengthMenu": "每页_MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
        "infoEmpty": "无记录",
        "search": "搜索：",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "paginate": {
            "previous": "上一页",
            "next": "下一页"
        }
    }
} );
$("div.mybtn").html('<div>添加用户</div>');
$("div.mybtn").click(function () {
//    $("#myModal").modal('show');
    window.open("/admin/user/useradd.html","_self");
})
</script>
</body>
</html>